[2016-08-30 09:42] #134 closed

[2016-08-30 10:00] bhaugen commented on #131
What should I do next, sprinters? If no suggestions, I'll pick something from the list and start working on it.

[2016-08-30 10:16] bhaugen commented on #128
I started checking into AppConfig. Here's the 1.8 django doc about it:
https://docs.djangoproject.com/en/1.8/ref/applications/

I am bewildered. It will take me a week to sort that out and figure out what if anything to do about it. So I am thinking I'll test just replacing post_sync_db with post_migrate, which seems to work fine.

Anybody disagree?

[2016-08-30 11:20] bhaugen commented on #64
I am picking up in the chatter that this "Other" field will be used for other Resource Types besides skills, so I am renaming the model to ResourceTypeSuggestion. I hope that is ok with everybody. Best to do it now before it gets deployed.

[2016-08-30 11:26] bhaugen commented on #64
I wrote a comment that I was renaming SkillSuggestion but then thought better about it. I think other resource type suggestions might have different behaviors and at least different help texts, so I'm leaving SkillSuggestion as-is for now.

[2016-08-30 12:16] bum2 commented on #131
@bhaugen the Fobi forms are needed (if we're able to use them) or an alternative system (a generic join-request form) to add the 'form_id' FK field in the Project model (it can be Null). If the project chooses 'moderated' join_style, then we should add a sub-page in the members_agent.html (the 'project editor') to configure the Fobi form fields. Keep in mind that most of the fields for the join fo

[2016-08-30 12:19] fosterlynn commented on #133
There used to be a section in the work my_dashboard page but commented out - is gone now, so maybe is in another page, or back in version history.  From there it calls the work process_logging page.  Already made to work in the work app.

I can do this next if you like, tomorrow.  Or I could start the planning.  You may want to think about where the process logging should go now with the newer pag

[2016-08-30 13:05] bhaugen commented on #131
As I said in Telegram, I'm working on the "Other" field now. I'll probably just do the bare bones to get it started, and then ask for opinions on what it needs next. After that, I figured I would connect with @XaviP on comment notifications.

Want to try to get Fobi into this week's sprint? Where do you think that fits into the priority queue?

[2016-08-30 13:32] bum2 commented on #107
I was proposing to have a 'form_id' field in the new Project model, and link there the custom form created for the project.
- If we can use the Fobi plugin for flexible forms, the form_id FK will be the Fobi form id.
- If we can't use the flexible forms yet (if something fails), then we need a new 'JoinRequest' model as a generic form for joining a project (then the form_id FK is the JoinRequest.p

[2016-08-30 13:49] fosterlynn commented on #132
@bum2 thanks!  Mostly makes sense to me.

But I'm thinking some more about the question of what to work on next in the project coordinator section.  Suggestion: we look at what projects are actually going to happen now, and tailor to them.  So Decentrale for example, may not need process logging or planning, I'm not sure.  If there are projects that are more to create something for a customer, the

[2016-08-30 14:07] XaviP commented on #128
Hey @bhaugen, all versions of  django-notification  when making `pip list` in different enviroments (prod ocp, test ocp, dev enviroment) are 1.3.3, not 0.1.5
So I think it's already updated.

[2016-08-30 14:17] bhaugen commented on #128
@XaviP

Yup. I picked the wrong pypi page to cite. Should be https://pypi.python.org/pypi/django-notification/1.3.3

 Yes, it's working. But it's called notification (singular), whereas pinax.notifications is plural.

[2016-08-30 14:23] bhaugen commented on #64
Just pushed the first drop of the "Other" field to the Project branch:
https://github.com/FreedomCoop/valuenetwork/commit/2a162e1e0636b11bb2ef3ec1d11e179fbb969c50

The only place you can see the Skill Suggestions now is in django admin.

Screen shot from profile page:
![other_field](https://cloud.githubusercontent.com/assets/117439/18092794/5453af0a-6e93-11e6-8656-ca3b84932747.png)

[2016-08-30 14:25] bhaugen commented on #128
@XaviP I'm done with the Other field for now. Should I start working on this? Do the notification setup?

If so, I'll start a new branch for it, unless you already have one.

[2016-08-30 15:42] bhaugen commented on #107
@bum2 - I got fobi installed in a local branch. Up and running. Looks good. Do you want to take it from here?

[2016-08-30 16:07] XaviP commented on #128
The package in requuirements.txt is in singular: https://github.com/FreedomCoop/valuenetwork/blob/master/requirements.txt#L11
So, it's updated and working. We can close this conversation about updating this notification package, right?

I'm working on it but not pushed until stable. I think we are duplicating work.

[2016-08-30 16:45] bhaugen commented on #128
Nope. I never started working on comment notifications. It's all yours. But if you want some help or anything, let me know.

[2016-08-30 16:45] bhaugen commented on #128
Yes that part of tmhe conversation is over.

[2016-08-30 17:22] bum2 commented on #107
Ok, if you put the fobi branch in github i'll take it and continue from there.
The thing i'm doing is the 'create new project' button in 'your-projects' page, but still not ready, due a problem applying the migrations at 'project' branch.
Is pending to add an admin's feature to link a context agent with a project (in coop admin app), defining the project new fields. Do you want to do that part?

[2016-08-30 17:33] bhaugen commented on #107
Did you see my response in Telegram?

Shouldn't that be done by the project manager in your-projects? If you want me to do that, I'll do it when you push your update to the project branch.

[2016-08-30 17:36] bhaugen commented on #107
Pushed. You will need to do
[code]
and then do runserver and then go to http://127.0.0.1:8000/fobi/
See the fobi readme and doc for more info:
https://github.com/barseghyanartur/django-fobi
http://django-fobi.readthedocs.io/en/latest/#

[2016-08-30 17:50] XaviP commented on #128
Pushed the skeleton of comment notification: https://github.com/FreedomCoop/valuenetwork/commit/83d1aaa2c618aca8b9d0f9205c27aa2051bdd0c7
Not working yet. Needs to filter the user who comment to not recieve email.

[2016-08-30 19:30] bhaugen commented on #107
Ran into a bug in fobi, reported here: https://github.com/barseghyanartur/django-fobi/issues/12

https://github.com/barseghyanartur apparently closed that issue before. We'll see how he responds to problems.

[2016-08-30 20:05] bhaugen commented on #107
A bit more fobi testing: that bug is not very important. It only happens in django admin. I can get the form data entries other ways.

[2016-08-30 20:05] bhaugen commented on #107
@bum2 if and when you get into fobi, I can give you some tips.

[2016-08-30 20:09] bhaugen commented on #131
While I was waiting for feedback, I started a fobi branch, and pushed it to github. Did more testing of fobi. Ran into one not very serious bug, but overall, looks pretty good. That's as far as I will go with it.

Will probably start working on https://github.com/FreedomCoop/valuenetwork/issues/121 Decline and delete for membership requests next, unless anybody has better ideas.

Also, we should t

[2016-08-30 20:11] bhaugen commented on #131
We're also piling up several branches that are not merged with each other. @fosterlynn what would you advise us to do about that? Expect huge merge conflicts? Keep pulling master regularly and merging master with our branches?

[2016-08-30 20:25] fosterlynn commented on #131
I wouldn't worry about it.  Hopefully we all are not working on the same parts of the code too much.  Also, it won't help to merge master to a branch unless master has the updates from other branches.  If some people think they are working in the same areas in the code, it might be good to merge those branches back and forth as we work, but coordinate that individually so code is reasonably stable

[2016-08-30 20:34] XaviP commented on #128
@bhaugen Do you know how can I debug sended emails in local?
By the way, thanks for pointing me to the code where to config the subscription.

[2016-08-30 20:47] bhaugen commented on #128
I've done it, but it ain't pretty. Give me a few mins to refresh my memory...

[2016-08-30 20:53] fosterlynn commented on #130
We should be able to do this by configuring using the facets / facet values and process patterns / exchange types.  We may need to add use case(s) to the work app though, and that is code.  But would be worth it rather than hard-coding resource types.

[2016-08-30 21:00] bhaugen commented on #128
This will take you some part of the way. In shell_plus, do:
[code]

[2016-08-30 21:07] bhaugen commented on #128
More:

In your virtualenv, go into lib/python2.7/sitepackages/notification

The magic starts in engine.send_all()
and continues in models.send_now()
and finished in backends.email.deliver()

You can throw a import pdb; pdb.set_trace() somewhere in there and from the commandline, do
[code]
and step through the magic.

Hope that all made some sense...

[2016-08-30 21:52] XaviP commented on #128
From shell_plus seems that everything is ok, thanks!
Pending add the creator of the membership request to the send-to list. I have a doubt about this: when the candidate is not agent yet, I can get the user object filtering by "requested_username". But when the user is already agent (that is it has an agent object id in field agent in membership_request) how can I get the user object?

[2016-08-30 21:58] bhaugen commented on #128
If you got an agent, you can say
[code]
If you got a user, you can say
[code]
I could encapsulate that stuff better so it is not so verbose, but those will work.

[2016-08-30 22:22] bhaugen commented on #131
How are we doing, gang? It's the end of Tuesday for us. I'll be back in the morning, figuring out what to do next. If I can help either @bum2 or @XaviP in their work, that would be my priority. I'd rather help you all take over the programming work and just be your helper.

Otherwise, I will start working on on https://github.com/FreedomCoop/valuenetwork/issues/121 Decline and delete for membershi

[2016-08-30 23:22] XaviP commented on #128
Thanks!
Pull request to merge into master: https://github.com/FreedomCoop/valuenetwork/pull/135
If nobody see problems, I'll merge tomorrow to test with real emails.

[2016-08-31 01:53] bum2 commented on #133
I thought the process login is what we already have in the 'your tasks' page (it should list simple and process tasks, isn't it?).
I simply split the former dashboard blocks in two pages, to be kind for small devices. Left block is 'your tasks' page and right block is now the 'take a new task' page.

[2016-08-31 02:02] bum2 commented on #64
Looks great Bob! I've pulled all, but when i go to the profile, it throws me an error:
`global name 'other_form' is not defined`
in work/views.py line 256

[2016-08-31 02:23] bum2 commented on #108
I've added the button and form to create a new Project, using the new model (in the 'your projects' page). When a FCmember creates a project he is auto added as a coordinator and the project as child of Freedom Coop. Perhaps is better a "FC Members Projects" new parent for them all?
Also in the project editor (members_agent.html) is placed a button to Edit Project. If the context agent isn't a pro

[2016-08-31 08:14] XaviP commented on #128
Tested in testocp. Everything seems ok.
Closing this issue. If any improvement needed we can open a more concrete issue.

[2016-08-31 08:14] #128 closed

[2016-08-31 08:17] XaviP commented on #131
Comment notifications are working ok in testocp. Plaese, test it.
I've closed the issue about it. If any improvement needed, we can open a more concrete issue.

[2016-08-31 11:20] fosterlynn commented on #133
I don't find the process tasks in testocp.  And that code is gone from my_tasks ('your tasks') template.  I'll find the code and you can decide where to put it, and when.

Thanks, good to be kind to small devices!

(The process code was already commented out when you split the pages, that decision happened earlier.)

[2016-08-31 11:25] bhaugen commented on #64
@bum2 what branch are you working in?

[2016-08-31 11:28] bhaugen commented on #64
This is odd. The definition of other_form got deleted in your master merge fix here:
https://github.com/FreedomCoop/valuenetwork/commit/c1a019989402f171a8e0a05b14301473ef82cdb8

Bunch of stuff deleted.

[2016-08-31 11:43] bhaugen commented on #64
Ok, restored deleted lines, and pushed to the project branch.

[2016-08-31 11:44] bhaugen commented on #64
@bum2 I'll leave this branch to you now, and stop working on it myself. If you need help on it, let me know.

[2016-08-31 12:24] fosterlynn commented on #133
I was wrong, it was taken out, not commented.  I found I think the most recent version of my_dashboard.html before the process logging code was taken out, here: https://github.com/FreedomCoop/valuenetwork/blob/27286ce6a5af8f97f5dfb88442553c8a5f31eb9a/work/templates/work/my_dashboard.html.

The main section starts at line 182.  There is another section for process related tasks using the person's s

[2016-08-31 12:31] bhaugen commented on #133
@bum2 @XaviP do you understand the differences between process logging, simple tasks (used to be called Todos), and "Log extra tasks" (used to be called non-process logging)?

And why those differences exist? It might be better to think up more clear and descriptive names and better explanations. We've thought about ways to unify them all, too, but haven't come up with anything.

[2016-08-31 14:39] fosterlynn commented on #133
@bum2 I am doing a new page for this, and then you can fit it in as you like.

[2016-08-31 14:42] bhaugen opened #136 "More comments visibility improvements"
Or as least I think they will be improvements.

1. An all-comments page in the coop admin app with a date range selection.
2. On the organization pages where discussion pages are listed alongside agents, add a comment count.

If nobody disagrees, and I get done with the other issues in this sprint, maybe I'll do that. If I get some enthusiastic approvals, I'll definitely do it.

[2016-08-31 14:42] bhaugen commented on #131
Are they merged into master now? And is testocp running on master?

I think I'd like to do a couple more comment visibility improvements, which I'll put in another issue:
https://github.com/FreedomCoop/valuenetwork/issues/136

[2016-08-31 16:01] fosterlynn commented on #133
@bum2 I made a new page, but it is not completely working, just for you to look at.  It is in the branch process-logging, or here is a picture:
![my-process-tasks](https://cloud.githubusercontent.com/assets/3776081/18136021/832abd10-6f69-11e6-8e16-18e4ae835dda.png)

The buttons do not take you back to the right place yet.  This is because I think you will not want it the way it is.

Here are all t

[2016-08-31 18:11] XaviP commented on #131
Yes, they are merged into master and deployed in testocp (master branch).
After some testing in testocp, I've created a new release (https://github.com/FreedomCoop/valuenetwork/releases/tag/v0.9.2) and deployed it in prod ocp.

[2016-08-31 18:12] XaviP commented on #136
goooooooooooooooooooooooood !!! niiiiiiiiiiiiiiiiiiiice !! I liiiiiiiiiiiiiiiiiiiiiiiike it!! :-)

[2016-08-31 18:57] bhaugen commented on #121
@bum2 @fosterlynn I just pushed the request_actions branch with the Decline action and a selector for showing different states of MembershipRequests.

It works, but has a CSS problem that I have not been able to fix. You can see it in this screenshot:
![radio_buttons](https://cloud.githubusercontent.com/assets/117439/18142305/9746ec74-6f82-11e6-8683-fdcb0a998182.png)

I am trying to get the radio

[2016-08-31 19:05] bhaugen commented on #121
P.S. you will need to do something like this in shell_plus to set the state field for membership requests that already have agents:
[code]
I'm checking into datamigrations to see if I can do this automatically as part of the branch.

[2016-08-31 19:31] bhaugen opened #137 "Migrations in different branches"
Lynn reminds me that we have had trouble with them in the past, using South. We hope that the new django migrations are better, but we don't know for sure.  So we should try to merge some branches that each have migrations and see how it works before merging back into master.

I know the new request_actions branch has a work migration and has not yet been merged into master. I'll look around for a

[2016-08-31 19:42] XaviP commented on #137
If the migrations are for creating new models, maybe we can commit them directly in master in the begining of development (this requires a good models dessign), and then merge from master to the branch. But I think is too late for this, isn't it?

[2016-08-31 19:51] bhaugen commented on #137
Yup. The project and request_actions branches both have migrations. I'll create a new branch and merge both of them in and run migrate and see what happens.

I think they are both low risk and we could merge them into master, but I'll merge master into my new test branch first.

[2016-08-31 23:43] bum2 commented on #133
I think the best is go for second option. Same page for simple and process logging ('your tasks', above the simple task block), same page for take new tasks, simple and process.
When user has no tasks assigned we can show a placeholder saying 'No assigned tasks. Go to take some tasks or create a new task' or something similar.

[2016-09-01 10:02] XaviP commented on #137
Another possible solution is not pushing (or erase from branches) the migration files, and when merging to master (or to the test-branch) download a sync db from test ocp and run `.manage.py migrate` to produce the migration files syncronized with the test and prod ocp dbs. And then push the migration files and pull from test and prod.

[2016-09-01 15:04] fosterlynn commented on #133
OK, I will do that in my branch, and then you can review it.  Might not be able to get to it for a day or two.

[2016-09-01 15:06] fosterlynn commented on #137
Let's not worry about it yet.  I'm guessing that they made that work when they put South into Django.  And Bob will find out when he tests.

[2016-09-01 18:11] bhaugen commented on #137
Here's what I am learning: basically, the django migrations were developed by the same person who create South, who learned from all the grief South users had with duelling migrations.

https://docs.djangoproject.com/en/1.8/topics/migrations/#version-control

https://docs.djangoproject.com/en/1.8/topics/migrations/#migration-files

(Which doesn't tell me much except that it is fine to hand-edit th

[2016-09-01 18:23] bhaugen commented on #137
Migration merge test:

I created a new branch, migration_test, and merged the project and request_actions branches into it. (Both of them had a migration 7.)

Here's what happened:
[code]

Everything seems to be ok, although I will do more testing.  I'm thinking I should push this branch and people should use it instead of the project and request_actions branches. @fosterlynn @XaviP does that make

[2016-09-01 18:40] bhaugen commented on #137
Addendum:

work/migrations/0008_merge.py
[code]
Pretty simple.

[2016-09-01 18:45] fosterlynn commented on #137
Actually, I don't think so.  It will be more complex to think about the whole thing, and those branches are separate now for a reason.  Let's just merge the branches in as they are ready to merge, as planned, and everyone will know now how to deal with the migrations.

[2016-09-01 18:47] bhaugen commented on #137
Any other branches with migrations? I'm not seeing any. Let's not do anymore until we decide to merge the migration_test branch into master. I started it from master, so it should merge in easily. The changes that will be visible to coop admins are in the request_actions branch, and I think those are low risk.

[2016-09-01 18:49] bhaugen commented on #137
Our comments crisscrossed. I'll wait to push the migration_test branch, or not push it, awaiting consensus.

[2016-09-02 13:23] bhaugen commented on #131
It's Friday. Where are we at in our one-week sprint?

* #128 Make membership request comments more visible to Coop Admins [notifications done, I'll work on https://github.com/FreedomCoop/valuenetwork/issues/136 today]
* #123 Should we add project admin functions to the work app or add more permissions to the admin app? [ We're adding them to the work app. @bum2 - what's the state of this one?]
* #

[2016-09-02 13:29] fosterlynn commented on #131
I'm working on putting process logging in, will be done by Sunday.  (That's not a project function, but is predecessor to planning.)

[2016-09-02 13:54] XaviP commented on #131
Hi, I think we have to make a new release and deploy to prod ocp with these features:
- Create/edit project button. (tested)
- Suggest skills in profile. (tested)
- Bug about unicode.
I'm just waiting for @bum2 confirmation to go ahead.
Please, don't merge into master nothing more until we've tested it enough, released and deployed.

[2016-09-02 13:59] bhaugen commented on #131
I'll start another branch for https://github.com/FreedomCoop/valuenetwork/issues/136

[2016-09-02 20:18] bhaugen commented on #136
Ok, @XaviP @bum2 I pushed the comment_extras branch with most of the work on this. Only thing missing is the date range selection on the all comments page.

I also did not style that page, and did not put it on the menus anywhere. I'll leave that to @bum2

The relative url is /accounting/comments/

Please suggest improvements, or just make the improvements. @bum2 if you start working on this, I'll

[2016-09-02 20:28] bhaugen commented on #131
I think I am done, or at least very close to done, with my work on this one-week sprint.

#136 will want a date range selector and pagination, but those features are probably not critical now.

So, what am I missing? What can I help other people with? What else should I do next?

Tomorrow Lynn and I are running homestead errands. Sunday I can do a bit more sprint work, but then I want to review th

[2016-09-02 21:16] fosterlynn commented on #133
Finished this, pushed my process-logging branch.  @bum2 feel free to work with the css!  :)

[2016-09-02 21:28] bhaugen commented on #131
@XaviP how should we finish things off for this sprint? Should we do pull requests for branches we think are finished? (In my case, I'm leaving branches ready to do _something_ but leaving style and nav choices to @bum2 in some cases. He may not want to finish them. If so, he can tell me which ones to do some finishing touches on.)

Or should we leave it to you to decide how to stage the branches

[2016-09-02 21:29] bhaugen commented on #131
One branch that could be trouble is request_actions. It has a migration that needs to be merged with the project branch, which might already have been merged into master. I can merge that one into master locally and work through the migration merge if you want.

[2016-09-03 05:44] XaviP commented on #131
I think bumbum is working in (from a telegram conversation):

So, I think we can wait for this next feature, as it seems will be necessary for CVNs next week.
In the meanwhile, I think there are some simple issues marked as bug that can be worked if you want. Also, the suggested skills need some development to be aproved by admins.

These are some ideas, but now I cannot work on them for some days

[2016-09-03 14:21] bhaugen opened #138 "Project participants etc in new project manager pages"
We can rethink how this is done. The current Maintain Associations form was designed to be used in two different situations: adding associates to a group, and also adding associations for an individual.

The project manager situation is different in two ways:
* it will only need to add associates to a group, and
* the types of associations are also likely to be limited.

What will there be? Partic

[2016-09-03 19:39] bhaugen commented on #64
@bum2 from your telegram chat, it looks like you are not following up with this branch. I saw something somewhere in telegram about wanting to take it through to admin creation of new skills (resource types). I'll think about how to do that and write a proposal here by tomorrow morning and then if it looks good to everybody, start working on it.

[2016-09-03 20:12] bum2 commented on #137
There are some migrations in the fobi branch, let's see if they don't conflict when merging to master... Thanks @bhaugen for getting into the detail of migrations (the strange and delicate part of django).

[2016-09-03 20:25] bhaugen commented on #137
They will conflict, but the conflicts are probably manageable. The main conflict is the one I ran into between migration 7 in the project and request_actions branches. The migration 7 from project is now both in master and also in the fobi branch. When I merged project and request_actions branches, Django auto-created a migration 8 to merge the two different branch 7s. Now the fobi branch also has

[2016-09-03 20:41] bum2 commented on #107
Ok, the Fobi thing is working and somewhat integrated into the work app also. The workflow that is working now is:
- Project coordinator chooses 'moderated' joining style (appears the Form Slug field) in the project editor page.
- He lists the custom project fields (questions) to add to a basic form with common fields (JoinRequest model) in the comments thread with admins.
- Admins must do the cus

[2016-09-03 21:10] bum2 commented on #107
The fobi plugin is not in the repo (we installed via "pip install django-fobi"). There is no touch to the fobi code, but there's a ForeignKey to one of its models (SavedFormDataEntry at fobi/contrib/plugins/form_handlers/db_store/models.py) and i don't know the implications of this FK... Can we keep the fobi plugin in the env or in the system of the server or it is better to put the fobi app code

[2016-09-03 21:11] bhaugen commented on #107
You might be able to use:
https://docs.djangoproject.com/en/1.8/topics/auth/customizing/#django.contrib.auth.models.BaseUserManager.make_random_password
but you would need to communicate the password to the new user somehow.

Alternatively, we could implement an invite-user flow, customizing the flow that is somewhat built into the account app that we are already using in OCP. The big difference i

[2016-09-03 21:12] bhaugen commented on #107
It's better to keep fobi as an external requirement and put it in requirements.txt.

[2016-09-03 21:15] bhaugen commented on #107
Are you sure? Where can I find this migration? Unless you are changing fobi itself, adding a foreign key to a fobi model in an OCP model should not change fobi. If it does, that's seems like a django migrations problem that I would like to discuss both with fobi and the django core team.

[2016-09-03 21:36] bum2 commented on #107
let's see if that fobi migration is needed or not in another install... can you pull the fobi branch and try for yourself the workflow without any migration to fobi folder? perhaps is something local of my machine or env, or can also be a mistake...
The fobi folder migraton file is not in the git scope, so not in the repo.

[2016-09-03 22:19] bhaugen commented on #107
Fobi comes with its own migrations. When you install it the first time, you need to do migrations to get the fobi tables into the OCP database. If that is all, it's not a problem. If you did something that created a migration inside fobi, that is a problem, because it will not be available in test or prod ocp unless we fork fobi and use our fork.

We internalized the account app (rather than forki

[2016-09-03 22:21] bhaugen commented on #107
Fobi in my site-packages has two migrations. How many do you see?

[2016-09-04 00:09] bum2 commented on #107
I'm thinking to produce the pass in a easy known way and send an email to the candidates with the credentials and saying 'please change your password asap'. If we produce it random we need to store it somewhere and it also has to be communicated and recomended to change anyway.
Can you work on this part Bob? the button to create agent+user from the JoinRequest data automatically... the new user be

[2016-09-04 08:11] XaviP commented on #107
- The join-request comments template can be cloned from:
https://github.com/FreedomCoop/valuenetwork/blob/master/work/templates/work/membership_request_with_comments.html#L140

- This template prepares the variables in the view (that can be cloned too):
https://github.com/FreedomCoop/valuenetwork/blob/master/work/views.py#L1532

- I can see the new model JoinRequest in work/models.py (branch fobi)

[2016-09-04 11:04] bhaugen commented on #137
@fosterlynn thinks we should just merge when we think it fits and see of django deals with the migration merge well enough. If not, scramble.

I think my request_actions branch is read to merge into master, will do so unless somebody strongly disagrees soon. Lynn thinks it would probably better for me to merge into master locally and deal with the migration merge rather than try a pull request whi

[2016-09-04 11:05] bhaugen commented on #107
Ok. I think I got a couple of other things to do, will ask on the one-week sprint thread about priorities.

[2016-09-04 11:06] bhaugen commented on #131
Here's what I think is on my plate now:
* https://github.com/FreedomCoop/valuenetwork/issues/64#issuecomment-244565947 take "other" fields through to admin creation of new skills
* https://github.com/FreedomCoop/valuenetwork/issues/137#issuecomment-244596739 merge the request_actions branch to master and deal with the migration merge conflict.
* https://github.com/FreedomCoop/valuenetwork/issues/1

[2016-09-04 13:11] bhaugen commented on #131
Lynn and I discussed the priority question on our morning walk. We think the priority should be to consolidate all the work we have done so far: get everything that is ok for testocp merged into master, deal with all the migration conflicts, etc. Then put the remaining issues into the next sprint.

We're eating breakfast now, and I'll come back and merge the request_actions branch afterwards (unle

[2016-09-04 13:54] fosterlynn commented on #137
:smile: great description!

Following on the above:  How does this sound for a procedure for if you have a new migration in your branch?

When tested and ready to merge to master:
1. Get the current master if you don't have it.
2. Local merge your branch to master.
3. Migrate locally, do the merge fix as described above by @bhaugen .
4. Push master.

NOT TESTED!  (Is the new migration committed au

[2016-09-04 14:03] bhaugen commented on #137
I just tested it by merging the request_actions branch into master locally. Instead of pushing, though, I'll do a pull request so everybody can look and @XaviP can decide. (Unless Xavi is really out of the loop now...)

[2016-09-04 14:03] fosterlynn commented on #137
OK, I edited the above heavily based on watching Bob test it!

[2016-09-04 14:15] bhaugen commented on #137
See https://github.com/FreedomCoop/valuenetwork/pull/139

[2016-09-04 14:16] fosterlynn commented on #137
It does seem a bit strange though, because now Bob has it already merged to master on his computer, but nobody else will because he did a pull request instead of pushing master directly.  Also, what happens if his pull request doesn't get merged before someone else puts another migration into master?

We will have to baby step our way through this I guess.

[2016-09-04 14:18] bhaugen commented on #137
@bum2 don't merge your branch with more migrations into master until we deal with my pull request.

If you are eager to do your merger, merge my pull request first.

[2016-09-04 15:34] bhaugen commented on #131
Done with that task. I won't do anything else until @bum2 merges whatever he intends to merge into master at this stage of consolidation of our first sprint. Then I think we should summarize the sprint as I suggested above in [this comment](https://github.com/FreedomCoop/valuenetwork/issues/131#issuecomment-244479750). and then, assuming we all want to continue with this pattern, define the next s

[2016-09-05 06:15] XaviP commented on #137
Thanks for testing it. I have no time to test it again, so for me go ahead.
Please close branches when they no longer have use (project?).

[2016-09-05 10:18] bhaugen commented on #137
Merged my own pull request and deleted the branch.

[2016-09-05 11:13] XaviP commented on #137
Deployed in testocp. Running migration successfully:
[code]

[2016-09-05 11:15] XaviP commented on #131
Deployed in testocp last merge to master:
https://github.com/FreedomCoop/valuenetwork/issues/137#issuecomment-244722330

[2016-09-05 11:23] bhaugen commented on #131
I don't want to take on the last one until @bum2 has merged the stuff he has been working on. I'll write up a rough design on the first one soon, but don't want to do that one until then, either, because that one will need yet another migration.

[2016-09-05 11:36] bhaugen commented on #64
Now we need to figure out how to handle these new skill suggestions. Basically, a coop admin needs to review them and (maybe) turn them into new work resource types.
But they are also the start of a conversation with whoever suggested them, so they might need some comments, which could go on the worker's discussion page. And then maybe if the new skill suggestion is enacted, the worker could see a

[2016-09-05 14:59] XaviP commented on #137
Maybe I'm a little obsessive with this (please tell me if so), but: can we erase *project* and *request_actions* branches? (if everything is merged to master it's secure)

It's easy, just click on the the trash can icon:
https://github.com/FreedomCoop/valuenetwork/branches

[2016-09-05 15:13] bhaugen commented on #137
I'll delete the request_actions branch. Should have done that already.  I don't know about the project branch, @bum2 might be working on it. So let's ask him.

[2016-09-05 15:15] bhaugen commented on #137
I think comment_extras could be merged into master and deleted, too. I'll take a look and see where it's at.

[2016-09-05 15:17] bhaugen commented on #137
I got a couple of things yet to do with comment_extras. I'll do them today and get that merged in and deleted. But then it will need @bum2 to decide where to put it in the navigation. (Unless we're putting too much on Bumbum's plate...??? in which case I can do it.)

[2016-09-05 15:35] bhaugen commented on #136
Added pagination, will merge comment_extras into master and delete it. Don't think it needs date range selection yet. When it does, I'll add it either in master or another branch depending on what else is going on.

[2016-09-05 15:46] bhaugen commented on #137
Done what I will do today, merged into master locally (had a merge conflict), committed and pushed, and deleted the comment_extras branch.

[2016-09-05 16:27] XaviP commented on #137
Successfully deployed in testocp too.

[2016-09-05 16:30] bhaugen commented on #136
Now available at https://testocp.freedomcoop.eu/accounting/comments/

Where should that page go in the freedom coop admin app?

[2016-09-05 20:44] bum2 commented on #133
Thanks Lynn! your branch is merged with fobi branch and now i will put all this in testocp so we can test thoroughly all the new features...

[2016-09-05 20:47] bum2 commented on #131
You are right Bob! Here i have updated the fobi branch, without that button, but all the rest is prepared (when the new agent is linked to the join_request). So only pending this button.

[2016-09-05 20:54] bhaugen commented on #131
@bum2 where should I work on that? In the fobi branch? Or are you merging the fobi branch into master first?
Also, has the project branch been merged into master yet? I mean, is all of the sprint work in master now? Or is there anything waiting to be merged?

[2016-09-05 23:01] XaviP commented on #137
New @bum2 merge in master, after installing django-fobi and run (successfully) *python manage.py migrate*, still seems there's a migration pending:
[code]

[2016-09-05 23:05] bhaugen commented on #137
@bum2 wrote something about that before. I have no idea what is going on here, but will check it out tomorrow morning. Where can I see that migration? Did you just create it locally?

[2016-09-05 23:07] bhaugen commented on #137
It looks like it might be a fobi problem. Like they should have done a makemigrations and merged it into whatever release they put out on pypi. Fobi has been very responsive to issues, so if that's what it is, I expect they will continue to respond.

[2016-09-05 23:21] XaviP commented on #137
Yes, locally. The created migration file is inside virtualenv:
env/lib/python2.7/site-packages/fobi/migrations/0004_auto_20160905_2254.py

You can see it [here](https://gist.github.com/XaviP/d24d93d17e508570aa41b4c20fd7b05e).

[2016-09-05 23:51] bhaugen commented on #137
That looks like a leftover fobi migration. I'll ping them in the morning,

[2016-09-05 23:53] XaviP commented on #137
Oh, sorry, I did it yet:
https://github.com/barseghyanartur/django-fobi/issues/35

[2016-09-06 00:11] bhaugen commented on #137
Ok, good. Let's wait for the response.

[2016-09-06 06:55] XaviP commented on #137
Created a pull request in django-fobi to easy the work of developer:
https://github.com/barseghyanartur/django-fobi/pull/36

[2016-09-06 06:59] bhaugen commented on #137
You're very kind...and helpful and friendly.

[2016-09-06 07:45] bhaugen commented on #137
Is the same migrations?
https://github.com/barseghyanartur/django-fobi/blob/master/src/fobi/migrations/0003_auto_20160517_1005.py

[2016-09-06 07:50] XaviP commented on #137
I don't think so:
https://github.com/barseghyanartur/django-fobi/pull/36/files

[2016-09-06 08:01] bhaugen commented on #137
Ok, I see the diffs.

[2016-09-06 13:20] bum2 commented on #107
The buttons are already in the new master merged with fobi branch. Only the automation of create agent and user button is still missing. The password will need to be autocreated, but not random (we talk that by chat), then sended to user by email, and then will be good to enforce the user to change his password once logged-in for the first time (now we can just add a text about this in the home)..

[2016-09-06 13:22] bum2 commented on #131
Project branch was merged long ago, master is merged into fobi and also the Lynn branch is merged too. Everything in master now. Is there any other thing to merge?

[2016-09-06 20:13] fosterlynn commented on #132
@bum2 do you have thoughts about how to do the navigation for the project coordinators?  What do you think about a left nav bar on the project coordinator pages only?

(No rush, not a problem, I'll just work on individual pages.)

[2016-09-06 20:45] XaviP opened #140 "Issues and Q/A about join-project forms (fobi)"
Some issues I've found:
- I don't find the way to assign a form slug to the project from an admin user (easy with proj manager)
- Some fobi fields needs styling.
- When the captcha is wrong, in the return form the fobi fields are empty.
- Error sending a new join-project form:
[code]

[2016-09-06 21:00] XaviP commented on #137
New django-fobi release with our issue fixed:
https://github.com/barseghyanartur/django-fobi/releases/tag/0.6.8

[2016-09-06 21:06] bhaugen commented on #137
Nice!

[2016-09-06 21:10] fosterlynn commented on #132
I am running the app, and realizing that there is also the project-work page which needs to have the process tasks added to it.  Maybe I better do that first before planning.

[2016-09-06 21:15] bhaugen commented on #140
More details on that ValueError from telegram:
[code]
The code where this is happening:
[code]

Apparently jn_req.agent is None.

[2016-09-06 21:18] bhaugen commented on #140
This may just be incompleteness: when I go to the link posted in telegram: https://testocp.freedomcoop.eu/work/agent/84/
as a non-admin user-agent who is a coordinator of that project, I see the project.

However, if I just log in as that user-agent in the work app, I can't find it from any of the menus.

[2016-09-06 21:24] bum2 commented on #136
Marvelous folks!!  In admin app we can just add one more link in the sub menu of Organization (the label links).... I think is better to focus on how to integrate the comments features you did in the 'project coordinators' pages, so the whole thing is useful without admin role.

[2016-09-06 21:25] bum2 commented on #136
Marvelous folks!!  In admin app we can just add one more link in the sub menu of Organization (the label links).... I think is better to focus on how to integrate the comments features you did in the 'project coordinators' pages, so the whole thing is useful without admin role.

[2016-09-06 21:29] fosterlynn commented on #132
This is not as simple as replicating the Your Tasks section.  In the main app, the All Work page is the right functionality, except it would need to be limited to the projects the person is coordinator for.

What do you think of using that format, or part of it?  (Choose an earlier start date to see actual data.)

[2016-09-06 21:35] bum2 commented on #132
Great Lynn, we can have this process tasks in the project-work yes. Thanks!
The navigation with a left sidebar is good for computers but very bad for mobiles, so i'm still using the label links as you have seen them as a member or project coordinator. Not tested in mobiles yet.
One day we will have time to do a good sub navigation system for all devices...

[2016-09-06 21:47] bhaugen commented on #140
@bum2 -  Questions and comments about the Create OCP Account button on the join-requests page:
* Given your ideas about passwords, I assume you have something automatic in mind, not like the form with fields in the Coop Admin app. If so:
    * How should I deal with duplicate ID/Usernames, or Usernames that do not meet the Django rules? 30 characters or fewer. Letters, digits and @/./+/-/_ only.

[2016-09-06 22:00] bum2 commented on #132
Lynn, please use the one that makes more sense for you... I can't focus on this yet.

[2016-09-06 22:12] bum2 commented on #140
No Bob, the error is in the admin version of FC membership. They need an ocp user and agent in order to start the communication process, so they can be accepted or not after the whole session of feedback using the comments thread. The user+agent is first without even accepting them as members or participants. It's just to start the Q&A about any candidature.
So the role of being an OCP participant

[2016-09-06 22:13] bum2 commented on #140
Will be good to change this buttons in FC membership process, so when 'accepted' the same relation change from 'candidate' to 'active'.

[2016-09-06 22:19] bum2 commented on #140
The error is because of the 'candidate' line, it has to be 'potential'... is fixed in my last commit

[2016-09-06 23:01] bhaugen commented on #140
@bum2 I think I understand the "Accepted" action now. So you want them to be created as an OCP participant without being associated with even the project they applied for? What would they be associated with as a participant? It's an association, a relationship in this case between an individual agent and some other (usually context) agent.

(Or am I still not totally getting it...?)

Anyway, to re

[2016-09-06 23:01] fosterlynn commented on #132
@bum don't worry, I'm on it.

[2016-09-06 23:17] XaviP commented on #137
Not really fixed:
https://github.com/barseghyanartur/django-fobi/issues/37

[2016-09-06 23:30] bum2 commented on #140
They need to be created as ocp users+agent and with a 'participant' relation with 'candidate' state in the project (the missing button behavior!). This way they see the project as participators when changed from 'candidate' to 'active' pressing the accept member button (it already works) by a coordinator.

About duplicate nicknames let's fail the button with error message, so the coordinator can c

[2016-09-06 23:34] bhaugen commented on #140
I'll see what I can do.

[2016-09-06 23:39] bum2 commented on #140
There was an error when join requesting, because i was trying to create the relation of candidate participant when submitting the form, and is totally wrong because the agent nor the user to relate is not yet created.
So the same lines to create that relation (work/views.py line 2172) has to be in the button function @bhaugen is doing...

[2016-09-07 06:37] XaviP opened #141 "NoticeType matching query does not exist."
Admins are recieving many emails:
[code]
- I try to migrate again to make the NoticeTypes again, but it doesn't solve it.
- I just sttoped the notifications in cron.
- I see in
https://testocp.freedomcoop.eu/admin/notification/noticequeuebatch/
that there are two notifications pending (probably which are giving the errors): they are trying to send with "work_join_request" NoticeType, which is not

[2016-09-07 06:57] XaviP commented on #141
Bug is here:
https://github.com/FreedomCoop/valuenetwork/blob/master/work/views.py#L2216

[2016-09-07 07:04] XaviP commented on #141
Solved here:
https://github.com/FreedomCoop/valuenetwork/commit/2b2adc507dde22f88cbd4a66c3f33b0a3d47aa76
Now notifications running again.

[2016-09-07 07:09] XaviP commented on #141
Oh, we need first to erase the pending notifications with the error.
@bhaugen Do I have to erase this queue batch ??
https://testocp.freedomcoop.eu/admin/notification/noticequeuebatch/

[2016-09-07 09:05] XaviP commented on #140
Commented an error in join request notifications that was sending a lot of emails to admins: https://github.com/FreedomCoop/valuenetwork/commit/2b2adc507dde22f88cbd4a66c3f33b0a3d47aa76
By the way, added @bum2 to the list of admins.

[2016-09-07 11:25] bhaugen commented on #141
If you want to turn the cronjob on, they will continue to cause errors. @bum2 do you think these are test messages? @XaviP given that this is testocp, I would just delete them.

And do you understand the problem? I think the code Xavi commented out was probably a cut-and-paste without knowing that a new notification requires a lot of setup.

[2016-09-07 11:34] XaviP commented on #141
Deleted all notice queue batch. Notifications in cron running again.

[2016-09-07 11:35] bum2 commented on #141
Sorry, you are true. I simply put the code to notificate coordinators, but is missing the rest of configuration. Where we should define this notification to make it work?
We haven't seen this bug because it was failing before due the wrong association try when a new join-request is saved.
Another related thing is the general 'comments' page for admins: it is showing any comment in any request proc

[2016-09-07 11:39] bhaugen commented on #140
That was a new notification, work_join_request, that did not have the required setup.

It needs templates for the email here:
https://github.com/FreedomCoop/valuenetwork/tree/master/work/templates/notification
and create_notice_type here:
https://github.com/FreedomCoop/valuenetwork/blob/master/valuenetwork/valueaccounting/management.py

[2016-09-07 11:41] bum2 commented on #140
Great thanks! i go to do it then...

[2016-09-07 11:42] bhaugen commented on #141
I explained the required setup a little [here](https://github.com/FreedomCoop/valuenetwork/issues/140#issuecomment-245254482)

I'll find the notification doc and add a link over there, too.

[2016-09-07 11:42] XaviP commented on #141
afaik, notifications and subscription system are ready for admins (node app) but I think it's not ready for project managers or members not-admins (work app)
I think we have to priorize work: we have to deploy all this first (well tested)

[2016-09-07 11:53] bhaugen commented on #140
@bum2 I looked for the django_notification doc, and it seems to be gone. It has been superceded by pinax_notifications, which is subtly different, so their doc does not work very well.

The short version is that you need to create a template directory with the name of the notification and put two templates in it, full.txt and short.txt. The short.txt is used for the email subject line.

For a work

[2016-09-07 12:03] bum2 commented on #140
Done, commited and testing in testocp...

[2016-09-07 12:05] XaviP commented on #140
With an admin user which is not project manager of a project, when I go to edit the project, in the modal window, the "Custom form slug" doesn't appear. See as admin user, not project manager, at:
https://testocp.freedomcoop.eu/accounting/agent/81/

[2016-09-07 12:22] XaviP commented on #140
Uau!
I tested but I don't recieve email notification. Now I've run *manage.py migrate* in testocp to activate the new notification, but it doesn't appear in settings/notifications.
Any ideas?

[2016-09-07 12:26] bhaugen commented on #140
I don't see the notice type here:
https://testocp.freedomcoop.eu/admin/notification/noticetype/

It's possible post_migrate is not doing the setup. I'll try it locally and see what happens.

[2016-09-07 12:31] XaviP commented on #140
Logged in as project manager, I can see the join request of five guys who request join to the project. Trying to visit "Join Requests" tab, I get an error:
[code]
Error in /home/ocp/app/valuenetwork/work/views.py in join_requests

[2016-09-07 12:47] bhaugen commented on #140
Yeah, post_migrate is not working. Post_syncdb still seems to work so I reverted to that and pushed to master. I think doing a migrate on testocp will now create the new NoticeType.

Post_syncdb is deprecated, though, so sooner or later we should switch to the new AppConfig thingie, as described here: https://pinax-notifications.readthedocs.io/en/latest/usage/#creating-notice-types

[2016-09-07 12:55] XaviP commented on #140
Running migrate in testocp solved it and appears the new subscription in settings. Thanks @bhaugen

[2016-09-07 13:26] XaviP commented on #141
Solved, notifications running, closing.

[2016-09-07 13:26] #141 closed

[2016-09-07 13:33] bum2 commented on #140
the error @XaviP says at https://github.com/FreedomCoop/valuenetwork/issues/140#issuecomment-245259753 is because the fobi form is lacking the Handler 'DB Store'... just place this in fobi editor and it has to work. By the way, i can't find the 'snails race' form in /fobi ... do you have it there @XaviP ? perhaps is only showing to its author user?

[2016-09-07 13:38] bhaugen commented on #140
The fobi dashboard /fobi/ shows forms by user who created them.

[2016-09-07 13:48] XaviP commented on #140
Added 'DB Store' handler in 'snails race' form. Not possible to edit with admin ( https://github.com/FreedomCoop/valuenetwork/issues/140#issuecomment-245259753 )

[2016-09-07 13:57] bum2 commented on #138
This Maintain Associations page for project coordinators needs to list users related the project in any state (candidate or active), to manage the 'state' of any relation and the kind of relation (all of them). So the context is fixed being always 'the project'.
Also will be good to let them manage also the upside associations of the project, showing only a subset of agents that are projects with

[2016-09-07 14:07] XaviP commented on #140
Yes, I think every (admin) user only can see the forms created in /fobi/
by him/herself.
At least, I can only se snails race.

El 07/09/16 a les 15:33, bum2 ha escrit:

[2016-09-07 14:21] bum2 commented on #140
Yes, i see the forms are editable by creator only! we can view them but not edit:
https://testocp.freedomcoop.eu/fobi/view/join-to-high-performance-center-for-snail-races/
https://testocp.freedomcoop.eu/fobi/view/faircoin2-cvn-operators/
That's an issue, but first i want to understand the weird error is giving to @XaviP in https://github.com/FreedomCoop/valuenetwork/issues/140#issuecomment-2452597

[2016-09-07 14:23] bhaugen commented on #138
I'm working on it now. Should be done in the next few hours. The button and new objects creations will be done sooner than the notification, so I'll push them first. I'm working in master, hope that is ok @XaviP ?

[2016-09-07 14:41] bhaugen commented on #140
Error messages here get fairly complicated because it's in a table, so I would need to find the right row for the message, and then return the message to the page somehow from the view.

Alternatively, I could do the whole error thing in javascript.

Much much simpler is what a lot of sites seem to do, which is to continue to append numbers to the requested username until they get a unique one. @b

[2016-09-07 14:46] bum2 commented on #140
Ok @bhaugen , we can append numbers to username meanwhile.
About the error messages i was imagining a modal notice screen, to don't interfere with the table.

[2016-09-07 14:57] bhaugen commented on #140
I have not been using a modal so far for this, but I could do so. That would make the error messages easier.

That would also allow for collective agents without users, and for the project manager to set the passwords.  It could be pretty much like the new way for coop admins to create agents+users from membership requests.

That will also take longer, though.

Another question: the JoinRequest fo

[2016-09-07 15:09] bum2 commented on #140
@bhaugen for the join-request form, now is only individual or collective, because the types of collective allowed can depend on projects choice. I thought that the kind of agent is choosed from the long list when creating the agent, but you are true, if the agent is created by the button we need a fixed type of agent.
We can start doing 'group' agent for collective requests, and then later the coo

[2016-09-07 15:21] bhaugen commented on #140
I think I am switching to the modal form for this. Might not get done today, but tomorrow latest.

[2016-09-07 15:26] bum2 commented on #140
I didn't mean a modal form, only a modal error message. But one day perhaps we do a modal form just to pick the right agent type or other things. Now we can do only the error message if username conflicts, and that seems easier.

[2016-09-07 15:29] bhaugen commented on #140
To do a modal error message, I will need to do an ajax form submission with an error return from the server, which is okay, but probably the jquery validations are better and not much more work.

[2016-09-07 16:58] bhaugen opened #142 "conflicting json imports in work/views"
Up top in the intro imports:
```import json as simplejson```

Later on, amongst some fobi code,
```import simplejson as json```

@XaviP I think you set up the first one in valueaccounting/views and @bum2 set up the second one when integrating fobi.

I have no idea what these are actually doing and what the effects may be, but it doesn't seem right...so I am tagging it as a bug until somebody tells

[2016-09-07 17:35] bum2 commented on #138
For me is ok to finish this first version of the button in master, test soon and publish to prod asap.

[2016-09-07 19:19] bhaugen commented on #138
P.S. because I switched my plans to a more complicated method and I am getting behind on the dishes, this button will not be finished today, but I am making progress, and it should be done tomorrow.

[2016-09-07 19:22] XaviP commented on #142
Thanks @bhaugen. When we've made the upgrading to django, the use of simplejson was depreciated and removed, for the use of native json python library. But to change the import as "json" has some conflicts with a variable called json inside the code. So, I decided to import json as simplejson to easy the upgrade.
I don't know if this concrete file uses json as a variable, but we can check it and i

[2016-09-07 19:24] XaviP commented on #138
Ok, no prob.

[2016-09-07 19:29] XaviP commented on #142
Yes, simplejson is a dependency of django-fobi, so it's installed.

[2016-09-08 01:20] bum2 commented on #137
I have a problem: I was trying to upgrade fobi in testocp, after being able to upgrade it in local (needed sudo), but it pushed django version to 1.10 (by the way, the site was working and don't found any error in some small testing).
After the fobi upgrade i install again django 1.8 (because the minimum for fobi is just 1.4.x) and the site works also, but if i make ./manage.py migrate then it say

[2016-09-08 04:54] XaviP commented on #137
I think the better way to upgrade a package is uninstall and install it again:
[code]
This way doesn't try to update all dependencies (django).
If you have any problems with the buggy migration file in django-fobi, you'll have to remove manually after update. In my case:
[code]
Yes, before touching testocp in this way, I always clone it in local (reinstall and clone db) and try to do it.
I think i

[2016-09-08 05:56] XaviP commented on #137
I've updated django-fobi in testocp, so now it's in version 0.6.8. I had to restore db from before to install 0.6.6, so we've lost all test data (fobi forms and the join requests)
Now the migrations files are sync with the package repo:
0001_initial.py
0002_auto_20150912_1744.py
0003_auto_20160517_1005.py
0004_auto_20160906_1513.py
IMPORTANT: Don't run makemigrations in testocp until release and u

[2016-09-08 09:28] Holofractographic commented on #140
Hi guys! testing again and.... all th elinks you send through telegram related to forms gives me errors:
https://testocp.freedomcoop.eu/joinaproject/faircoin2-cvn-operators/
DoesNotExist at /joinaproject/faircoin2-cvn-operators/
Project matching query does not exist.
Request Method:	GET
Request URL:	https://testocp.freedomcoop.eu/joinaproject/faircoin2-cvn-operators/
Django Version:	1.8.14
Excepti

[2016-09-08 11:02] bum2 commented on #140
Sorry, we had to erase all the tests and put a older db in testocp. Now i've created again the CVN test project and custom form, and added some of your test users as coordinators: Another Test Agent (Bobtest), Enric, LynnTest, Mario TEST1, Marito, xavi prueba.
So, the external form is again at https://testocp.freedomcoop.eu/joinaproject/faircoin2-cvn-operators/
and the project coordination at http

[2016-09-08 11:08] bhaugen commented on #140
I'm well on my way to getting the create OCP account button working in what I think is close to the best way. First drop should be in a couple of hours.

[2016-09-08 11:45] bum2 commented on #140
I've commited a js fix for the order of fields in the public form, and the memory of filled fobi fields if any error at submit. The optional 'context_text' decoration field is placed at the top and the captcha at the bottom (you can test it in the cvn form at testocp).

[2016-09-08 12:13] bhaugen commented on #140
I just pushed the first drop of the Create OCP Account button.
https://github.com/FreedomCoop/valuenetwork/commit/0ab2151cf94e0f1072f29d44ea6f7a91f55e0a98

@bum2 this is for you to test locally, to see if it does what you want. It has an annoying bug where you need to click Save on the modal form twice. I'll work on fixing that next. It's somewhere in jquery.validate, which is still a big murky ta

[2016-09-08 12:58] bum2 commented on #140
Thanks @bhaugen ! Issues i found testing locally:
- The button opens the form for the first item in the list always (at least, is prefilled with the first item data), not the clicked request row user data.
- A User is always needed in this step, so the communication can start. Then the password is required and will be good to auto-generate it (without asking) so only seen in the notification email

[2016-09-08 13:06] bhaugen commented on #140
I'll work on that. Got a sqlite database I can test with? Or does testocp have more join requests now?

I'll make the password a required field for now. We can auto-generate passwords if and when we need to do so. In the meantime, anything wrong with just having the project manager enter the password?

Ok.

Ok.

Just add that line I commented out to the "accepted" view.

It's the field called pass

[2016-09-08 13:29] bhaugen commented on #140
@bum2 P.S. if you don't have a sqlite test db with multiple join requests for a project, could you either:
* add more join requests to the CVN project in testocp, or
* tell me how to add join requests, because I don't know.

[2016-09-08 14:22] bhaugen commented on #140
Never mind, I figured it out.

[2016-09-08 14:42] bum2 commented on #140
The public form shows at url /joinaproject/<fobi_slug> when public+moderate, and the fobi slug is in the project's field, with the DB-Store handler attached to the fobi form.
I've not deployed your commit to testocp yet... just testing locally, but if you want the commits at testocp i can put them now.
About the password, yes we can go this way to start, the coordinator creates the initial passwor

[2016-09-08 14:47] bhaugen commented on #140
Fixed, committed, pushed to master. Also made password required. Have not done this one yet:

Will do that one in next update. Also working on the save button bug.

No, not ready yet.

[2016-09-08 17:58] bhaugen commented on #140
@bum2 your last update broke my button:
[code]

Error line:
[code]
Please wait until I get this shit working before changing that method. It is all very fussy. It is not fully working yet. Almost.

I'll comment out your notification code for now, but will also fix the error. You need to turn the queryset into a list in order to append to it.

So like this:
[code]

[2016-09-08 18:01] bhaugen commented on #140
Oh, and you also overwrote my correct HttpResponseRedirect URL to an incorrect one

[2016-09-08 18:02] bhaugen commented on #140
Wait about half an hour and I'll give it to you.

[2016-09-08 18:08] bhaugen commented on #140
Ok, I pushed my latest to master. I'll leave this all for you for now.

I have not been able to fix the save button bug (where you need to click save twice to get it to save), but I will need to do more jquery validate research to figure that one out.  When you are all finished, I'll try that one again. But I think everything else works now.

[2016-09-08 19:10] bum2 commented on #140
Thanks @bhaugen , i've merged again your commits and testing in testocp...
The url redirect is correct.
Sorry, i can't test the emails in local, i'm trying to add the destination users for the notification: both coordinators and the candidate. Not yet receiving emails... I'm on it

[2016-09-08 19:19] bhaugen commented on #140
@bum2 I won't do any more on this today, Lynn and I need to prep for a presentation to a Hull UK mutual aid network meeting tomorrow morning.

[2016-09-08 19:21] bhaugen commented on #140
@XaviP and I have tinkered with this before. I think we can figure out a way to test them locally without an outgoing email server. If it becomes a priority, I think I can come up with a method.

[2016-09-08 19:24] XaviP commented on #140
Here a explanation by @bhaugen on how to debug emails in local (two messages):
https://github.com/FreedomCoop/valuenetwork/issues/128#issuecomment-243579244

[2016-09-08 19:28] bhaugen commented on #140
Thanks, @XaviP - I think we could put some that code in a script that you could run from the shell.

[2016-09-09 10:37] bhaugen commented on #140
@bum2 I think I finally finally figured out how to fix the annoying two-click Save bug in the Create OCP Account form. I committed, but then I pulled your latest changes to master and retested before I pushed my changes to master. And ran into this bug:
[code]
The error line is
[code]
I'm no longer frustrated by that annoying bug anymore, so I'll wait to push my change until you tell me you are do

[2016-09-09 10:55] bum2 commented on #140
I have added yesterday night a `if manager:` in that for loop, and since then it seems stable for me. I found the same error...
Marvelous if you fixed the double save click issue! i go to pull and test this fix in local and testocp.

[2016-09-09 10:58] bhaugen commented on #140
I haven't pushed my fix because I can't retest it. I have your if manager: line in the code that failed for me locally.
[code]

[2016-09-09 11:06] bhaugen commented on #140
I found the problem, and am fixing it. Will push when done.

[2016-09-09 11:10] bhaugen commented on #140
Ok, pushed.

[2016-09-09 13:21] bum2 commented on #140
Thanks for the fix @bhaugen !
Is working good in testocp afaik (also the notifications).
If someone can test one more time the 3 new user roles (coordinator, candidate-participant and active-participant), then i think is ready to put in prod.

[2016-09-09 17:43] XaviP commented on #140
When a candidate is declined, it disapear from the table, but still have user and can send comments.

[2016-09-09 18:50] fosterlynn commented on #133
Closing.

[2016-09-09 18:50] #133 closed

[2016-09-09 18:52] fosterlynn commented on #132
First piece of this done: project tasks in project-work.  Commented out a lot of links which are to features not there yet for project coordinators.  Still in project-planning branch, pushed.

[2016-09-10 07:58] XaviP commented on #140
New release v0.9.4 https://github.com/FreedomCoop/valuenetwork/releases/tag/v0.9.4
Closing this issue. Please, open new issues with more concrete definition about bugs or features in fobi forms.

[2016-09-10 07:58] #140 closed

[2016-09-10 07:59] XaviP commented on #137
New release v0.9.4 https://github.com/FreedomCoop/valuenetwork/releases/tag/v0.9.4
Closing as the merge of differents branches has been achieved.

[2016-09-10 07:59] #137 closed

[2016-09-10 08:00] XaviP commented on #136
This comments improvements are included in release v0.9.4 https://github.com/FreedomCoop/valuenetwork/releases/tag/v0.9.4
Closing this issue.

[2016-09-10 08:00] #136 closed

[2016-09-10 08:02] XaviP commented on #131
This sprint is released in v0.9.4 https://github.com/FreedomCoop/valuenetwork/releases/tag/v0.9.4
Closing.

[2016-09-10 08:02] #131 closed

[2016-09-10 08:03] XaviP commented on #108
I think this issue can be closed. Please, reopen if needed.

[2016-09-10 08:03] #108 closed

[2016-09-10 08:05] XaviP opened #143 "How to handle by admins the new skill suggestions"
@bhaugen said: Now we need to figure out how to handle these new skill suggestions. Basically, a coop admin needs to review them and (maybe) turn them into new work resource types.
But they are also the start of a conversation with whoever suggested them, so they might need some comments, which could go on the worker's discussion page. And then maybe if the new skill suggestion is enacted, the wor

[2016-09-10 08:06] #64 closed

[2016-09-10 08:07] XaviP commented on #107
This feature is included in new v0.9.4
Closing. Please reopen if needed.

[2016-09-10 08:07] #107 closed

[2016-09-10 08:08] XaviP commented on #138
Closing as this is in v0.9.4. Please, reopen if needed.

[2016-09-10 08:08] #138 closed

[2016-09-10 08:09] XaviP commented on #121
This is working in v0.9.4. Closing.

[2016-09-10 08:09] #121 closed

[2016-09-10 08:10] XaviP commented on #123
This is already clear. Closing. Please, reopen if needed.

[2016-09-10 08:10] #123 closed

[2016-09-10 08:13] XaviP opened #144 "Waiting for the 0.6.10 django-fobi version"
I leave this issue here as a reminder, as I closed the issues which talk about this.
IMPORTANT: Do not run *makemigrations* in testopc nor prod ocp until solved this bug in fobi.

[2016-09-10 08:18] XaviP commented on #118
Closing this issue as we're already working with releases.

[2016-09-10 08:18] #118 closed

[2016-09-10 11:15] bhaugen commented on #144
Is this something we can help Fobi with again?

[2016-09-10 12:09] bum2 opened #145 "How to translate DB strings?"
We need a system for translating some strings recorded in the db (not hardcoded), like the ones for the help system, the description of agents, the custom questions in any project forms, etc.
Let's find a good way to translate them,  when they're retrieved from the db and before showing up, depending on the UI language. I supose we will not use .po files or transifex service to help on this, but i

[2016-09-10 12:18] bum2 opened #146 "Order of fobi fields in project join-requests"
The saved order of the fields in fobi is not respected in the table of join-requests for project coordinators. One way can be to start the 'name' of the fields (not the 'label') with 'q01_' and number the fields this way, so then we can order alphabetically by field name before showing the table columns.

[2016-09-10 12:23] bhaugen commented on #145
https://djangopackages.org/grids/g/model-translation/

I have no experience or knowledge about any of them.

[2016-09-10 12:34] bhaugen commented on #146
I bet there is an easier way to do this, if we look at how fobi does things, but don't have time to look into their code that much now.

[2016-09-10 12:35] bum2 opened #147 "Edit fields of membership and joinaproject requests"
They can be editable table cells or perhaps a modal form, to let the user change his own data, and perhaps also admins. This should be simple to do with the model fields, and the not-so-easy part is maybe the editing of the fobi custom fields data, but all this is needed in the same place.
A first version of 'edit-fields' can be just this.

In a second version, a good improvement with this (if is

[2016-09-10 12:40] bum2 opened #148 "Bug at recovering form data on reload in joinaproject"
There's a bug in the js trick to fill-up the custom form fields when reload or error (in public project forms): if you type a line-break in the field text the js crashes. Is needed more parsing to convert line-breaks to safe js string before sending var 'post' to the template from view.py def joinaproject_request to the joinaproject_request.html template

[2016-09-10 12:42] bhaugen commented on #148
How to reproduce this locally?

[2016-09-10 13:18] bum2 commented on #148
do just that (place a text with line-breaks in a custom field of a public join-request form) and check how the JS fails when trying to fill again the screen field data with the POST values, when reload or any error in the form or captcha. Because the js breaks, the order of the form fields is bad again also (with the captcha in the middle of the form, and the presentation custom text below it) bea

[2016-09-10 17:45] XaviP commented on #144
This is the issue opened in django-fobi repo:
https://github.com/barseghyanartur/django-fobi/issues/37

[2016-09-10 17:46] bhaugen commented on #144
Ah, I did not understand that it had gotten that complicated...

[2016-09-10 17:52] XaviP opened #149 "Join request in a project by an existing user/agent"
When an already user/agent accesses to the public fobi form of a project, the form asks for all user data. Maybe we can conditionally show the user/agent information instead of the new user fields if the user is logged in, and when submitted not create a new user but use the logged in one. I don't  know if this is compatible with the current request-candidate-member flow.

[2016-09-10 18:55] bhaugen commented on #148
Reproduced. Thinking about it...

[2016-09-10 19:27] bhaugen commented on #148
@bum2 how much of the javascript at the top of the "work/joinaproject_request.html" template came from fobi and how much did you add? I'd like to isolate anything that might be a fobi bug.

[2016-09-11 11:38] bhaugen commented on #148
I commented out both of the str.replace statements in that function and the syntax error still happened.

[2016-09-11 14:12] bhaugen commented on #148
I haven't made any headway in solving the problem, although I did a lot of tinkering.

@bum2 did you find code examples for the fobi form handling in work/views/joinaproject_request and the work/joinaproject_request.html template? Anywhere in the fobi repo? I didn't find much, but maybe I was looking in all the wrong places...

[2016-09-11 19:40] bhaugen commented on #148
Ok, I might have fixed it. Pushed a simple change from escape to escapejs that seems to have worked. @bum2 please test locally when you get a chance.

[2016-09-12 05:17] XaviP commented on #144
django-fobi 0.6.10 is released: https://github.com/barseghyanartur/django-fobi/releases/tag/0.6.10
To upgrade django-fobi to 0.6.10:
[code]
Tested in local, no more migrations running makemigrations after upgrade :-)

[2016-09-12 05:52] XaviP commented on #144
Upgraded testocp and prodocp to django-fobi 0.6.10 without problems.
Please, consider to upgrade it your dev enviroments if you want to use an updated db from testocp.
This issue is ready to close. I leave it a couple of days to wait until all dev enviroments successfully upgraded.

[2016-09-12 11:02] bhaugen opened #150 "Membership Requests table cuts off on smaller screens"
...and won't scroll to the left.
![screen_problem](https://cloud.githubusercontent.com/assets/117439/18433638/6c746dca-78ae-11e6-8e88-5d164879c057.png)

[2016-09-12 11:03] bhaugen opened #151 "Enforce django username rules on coop admin create user form"
Done on work/join_requests

[2016-09-12 13:57] bhaugen commented on #144
Upgraded mine.

[2016-09-12 14:18] bhaugen commented on #150
Fixed in https://github.com/FreedomCoop/valuenetwork/commit/f748c2fff121b276bcf7e8f518c815b3216840fd

[2016-09-12 14:18] #150 closed

[2016-09-12 16:00] bhaugen commented on #143
Maro writes in telegram,

[2016-09-12 16:03] bhaugen opened #152 "What should you see in "your projects"?"
Maro writes in telegram,

[2016-09-12 16:41] bhaugen commented on #143
If nobody has any better ideas, I'll handle these like membership requests:
* add a couple of fields to SkillSuggestion:
    * resource_type (when a new resource type is created for the SkillSuggestion)
    * state (similar to MembershipRequest state: "new", "accepted", maybe "rejected" instead of "declined"?
* Add an email notification to coop admins
* Add a page like the membership request table

[2016-09-12 17:53] bhaugen opened #153 "Should be a way to delete an automatically generated Todo"
Maro ran into this when the same person posted two membership requests.

[2016-09-12 21:35] bhaugen commented on #143
Hearing no objections, I started working on the plan above. I think it's probably better to copy an existing flow that the coop admins somewhat understand rather than design a new one.

But as of the proposal above, I am not adding the automatic todo/task. Do you all think that is useful, and want it? Or not so much?

[2016-09-13 08:43] Holofractographic commented on #143
Hi ok for me is a good plan, if we can know who made the suggestion also we can communicate with him/her if the suggestion already exist as similar or to aks for more explanation or to tell him/her that the suggestion was accepted..

[2016-09-13 11:35] XaviP commented on #143
Yes, no prob.

The problem is when branches in parallel working on migrations in the same app. It's not the case now, but if you have a definitive dessign of models (no changes later), maybe is a good idea to push migrations in master before to open new branch to work. As you prefer.

[2016-09-13 11:49] bhaugen commented on #143
@Holofractographic

I'm adding a link to the suggester's discussion page in the table of suggestions, so a coop admin can talk to them about it.

When the suggestion is accepted, they will also see a little note on their profile saying "thanks for the suggestion".

[2016-09-13 11:52] bhaugen commented on #143
@XaviP

I already started a new branch, and am not sure the changes will be that definitive, so I'll try to move quickly to a working version and merge it in. Since the changes will not affect anything else, they should be fairly safe.

Then I think we need more discussion about skills in general. I know some people want them to have more structure. But that would be for a different issue.

[2016-09-13 12:56] fosterlynn commented on #144
Upgraded locally.

[2016-09-13 14:10] bhaugen commented on #143
I got the first part of this done:
* two new fields on SkillSuggestion, with a new work.migration
* a skill suggestions page for coop admins with buttons for both of the new fields, which works quite a lot like the membership and join request pages

And I merged it all into master locally, and pushed to github.

Next will be a notification for coop admins of the new skill suggestion, which I will

[2016-09-13 14:48] XaviP opened #154 "Is there any reason to keep djangorestframework==2.4.8 ?"
- Last version of djangorestframework is 3.4.6
https://pypi.python.org/pypi/djangorestframework

- I don't see 'rest_framework' in INSTALLED_APPS

- A search like `grep -r "rest_framework" ./` gives:
[code]

Can I safely remove *==2.4.8* from requirements.txt ??
Which check can I do to see if version 3.4.6 can be installed ??

[2016-09-13 16:00] bhaugen commented on #154
I don't know. It will take retesting and possibly upgrading all the existing apis, which I would prefer to delay until we are using the apis. Which we aren't yet.

[2016-09-13 16:38] XaviP commented on #154
Ok thanks, yes this is not a priority.

[2016-09-13 18:55] #154 closed

[2016-09-13 18:55] #144 closed

[2016-09-13 19:42] bum2 commented on #148
The fix works great @bhaugen , thanks!

[2016-09-13 19:42] #148 closed

[2016-09-13 20:05] bhaugen commented on #143
@XaviP @bum2 I got the notifications done in my branch. They seem a little unsafe to deploy to prod ocp without testing in testocp.  I have not yet pushed my branch to github, or merged it into master and pushed that. What do you think I should do?

(P.S. I also worked out a procedure for testing notifications locally in the shell, which I will post as a separate issue.)

[2016-09-13 20:10] bhaugen opened #155 "How to test notifications locally without an email server"
This is a lot easier if you do
```pip install ipython```
in your virtualenv.
In shell_plus, do:
[code]
format_templates shows you the string versions of your emails to-be-sent.

Please suggest improvements in comments.

[2016-09-13 20:10] bhaugen commented on #143
Notifiction testing procedure: https://github.com/FreedomCoop/valuenetwork/issues/155

[2016-09-13 20:18] bhaugen commented on #143
@fosterlynn says I should push my branch, so I did:
https://github.com/FreedomCoop/valuenetwork/tree/skill_workflow

[2016-09-13 20:32] bum2 commented on #152
There's a exception now with the Freedom Coop participation link, that goes to the feedback page of the membership. To manage the Freedom Coop group using the same tools, we can convert Freedom Coop to a 'project' with some 'coordinators', like the other projects of the members... the use case is diferent because the membership process involves the shares payment, and now is managed via coop admin

[2016-09-13 20:32] bum2 commented on #149
Yes, this is the 'internal' version of the form, for logged-in users, still pending to do. Also we need a internal ocp list of public projects, so they can simply join in if they are 'autojoin' or open the form to apply if they are 'moderated'. I think is to work on the 'maintain associtions' sub page for project coordinators...

[2016-09-13 21:25] #99 closed

[2016-09-13 21:26] #95 closed

[2016-09-13 22:34] XaviP commented on #143
If you merge to master we can deploy in testocp and test notifications.

[2016-09-13 22:43] bhaugen commented on #143
Merged and pushed. Let me know when it's in testocp and I'll try a skill suggestion and so a notification.

[2016-09-13 23:25] bum2 commented on #143
Deployed in testocp.
In local it work good! just missing the link in organization page sub-nav.
Also missing the 'comments' page link in the same sub-nav, but it shows either membership requests comments and join requests comments.... will be good to only show membership comments in that page and let the join-requests only to project coordinators.

[2016-09-14 00:10] bum2 commented on #143
it throws an error when pushing the create skill button in testocp:
`BdbQuit at /accounting/create-skill/2/
No exception message supplied`
when running the line 13254 `if form.is_valid(): `

[2016-09-14 00:18] bhaugen commented on #143
OOps! Stupid programmer error, left a pdb halt in the code. Commented out, committed and pushed to master.

[2016-09-14 07:41] bhaugen commented on #143
I would like to add one more minor feature to skill suggestions: on the member's profile, when their skill suggestion is accepted and a new resource type is created for it, to have a little note on their profile alongside the new skill saying "thanks for the suggestion". I'll do that some time today.

[2016-09-14 07:43] bhaugen commented on #143
@XaviP @bum2 please let me know when my last fix is deployed to testocp. I want to test it.

[2016-09-14 07:49] XaviP commented on #143
Done

[2016-09-14 08:11] bhaugen commented on #143
I got an email notification about my skill suggestion, but here's the subject line:
``` [] New skill suggestion ```
Whereas here's the subject line of a comment notification from testocp:
``` [FreedomCoop OCP] New comment in membership request ```

I think this is the EMAIL_SUBJECT_PREFIX in local_settings.py. I wonder why it did not appear on the skill suggestion notice. Is it something I did dif

[2016-09-14 08:28] bhaugen opened #156 "Structure for skills?"
Somebody (I think @bum2 ) suggested that skills should have some hierarchy, which means parents. So I added a parent field to the form for creating resource types for skill suggestions.

But the rules in the code for parent resource types is that they need to have recipes, which means types of work cannot be parents. OOps. (But don't worry, that is easily changed, if we want.)

Anyway, what kinds

[2016-09-14 08:28] bhaugen commented on #143
Followup issue: https://github.com/FreedomCoop/valuenetwork/issues/156

[2016-09-14 09:02] bhaugen commented on #143
Added a little "thanks for the suggestion" label to profile skills when you suggested the skill and it became a new resource type and comes back at you.

With that, unless I need to do something about the notice email subject line, I think this issue is ready to close, and the branch deleted.

[2016-09-14 10:14] XaviP commented on #149
What I was trying to explain is that the same page/form can be used by annonymous users and by logged-in users, if a conditional is added here:
https://github.com/FreedomCoop/valuenetwork/blob/master/work/templates/work/joinaproject_request.html#L107
If user is logged-in, don't print the join_form but use the logged-in user data.
And when submitted the form, just add the logged-in user data into j

[2016-09-14 11:59] fosterlynn commented on #156
I think we should start with the faceted classification already available and then move to something else if this is not adequate.

I can help with the analysis of how to set it up for the skills.

[2016-09-15 07:30] XaviP opened #157 "Should we set ATOMIC_REQUESTS to True in settings.py ??"
Should we set ATOMIC_REQUESTS to True in settings.py, or in local_settings.py in production ocp?
https://docs.djangoproject.com/en/1.8/topics/db/transactions/

[2016-09-15 10:40] XaviP commented on #157
Tested in local: no problems.
Tested in testocp: no problems.
I leave *ATOMIC_REQUESTS = True* in testocp to check if everything is ok with performance. If so, I'll activate in prod ocp.

[2016-09-15 11:31] bhaugen commented on #157
I think postgres (which we are using for prod ocp) handles transactions much better than sqlite (which we are using for testocp). So the results in testocp might be misleading. Still, if they are ok, prod ocp should be better.

How could we do some tests? Could be different people hammering the same view at the same time. Or some kind of load test locally?

[2016-09-15 13:01] XaviP commented on #157
With django-debug-toolbar in local (sqlite), I don't see appreciable differences with ATOMIC_REQUESTS = True or False, in a general navigation in the site (comparing the response time and the SQL time). Do transactions work in debug mode? I think so, but maybe I'm wrong.
I'll make some tests creating/updating users or agents later.

[2016-09-15 22:03] bum2 commented on #143
Ok, updated repo in testocp, but now we have no parent field...
I think it makes no sense to list all skills without any kind of grouping or hierachy... i'm used to do this kind of thing as a tree, normally with a drag'n'drop jquery to manage the MPTT tree in the admin side, and a chooser ready for mptt data (also jquery plugins) in the user side, to choose skills from the tree.
There's a django-m

[2016-09-15 22:07] bum2 commented on #156
Yes Lynn, i think it makes no sense to list all skills without any kind of grouping or hierachy... i'm used to do this kind of thing as a tree, normally with a drag'n'drop jquery to manage the MPTT tree in the admin side, and a chooser ready for mptt data (also jquery plugins) in the user side, to choose skills from the tree.
There's a django-mptt plugin to help manage this kind of data (i've trie

[2016-09-15 22:15] bhaugen commented on #143
I commented out the parent field because it was confusing people. We can put it back by removing the comments, when we decide how to structure types of work.

[2016-09-15 22:22] bhaugen commented on #156
MPTT is nice but will be one more dependency and require some database mods etc and some learning, unless you know how to handle it.

If we want hierarchy, I think the parent field and a recursive lookup(which already exists in the code) is fast enuf for the levels of hierarchy we are likely to ever have. But it won't get you drag-n-drop.

In the past, every time we tried either a single parent fi

[2016-09-15 22:34] fosterlynn commented on #143
@bum2 I would recommend we see if the faceted classification system we currently have will work for skills.  It can give you at least a 2 level pseudo-heirarchical structure if you like.  Let's work on it together.  Or if you give me a nice long list of skills, I will put together a sample set of facets and facet values and we can see if it will work.

We could work in testocp if you like.  If you

[2016-09-15 22:36] fosterlynn commented on #156
Oops, I responded here #143 before I saw this.

[2016-09-16 08:10] XaviP commented on #157
More testing doesn't give any reason to avoid transactions, so I've set ATOMIC_REQUESTS = True in prod ocp. It continues as fast as always. Please, report any problem.

[2016-09-16 14:38] fosterlynn commented on #156
@bum2 sorry I should back off, forgot I already responded above, confused with the 2 issues.

If you want to do a skills hierarchy, go for it.  It is conceptually easier in some ways.

Some initial design thoughts on how that would fit with what is there:

Do you think that the skills should still be resource types (types of work)?  I tentatively think so, that would enable people to plan and log

[2016-09-16 15:53] XaviP commented on #157
Closing. Please, reopen if any performance problems.

[2016-09-17 07:31] XaviP commented on #149
I see this feature in testocp, so I cose this issue.

[2016-09-17 07:31] #149 closed

[2016-09-17 22:09] XaviP commented on #155
Simpler: the backend for sending emails can be changed in local_settings.py:

- Emails to console:
https://docs.djangoproject.com/en/1.8/topics/email/#console-backend

- Emails to a file:
https://docs.djangoproject.com/en/1.8/topics/email/#file-backend

[2016-09-17 22:17] bhaugen commented on #155
OOOhhh! Good find! I wonder if that's new....?

[2016-09-18 10:45] XaviP commented on #155
Tested, it works.
- Add to local_settings.py:
[code]
- Cause that *notice queue batch* has any email to send by making an action that fires email notification. You can see that queue in:
[code]
- With virtualenv active, run:
[code]
You will see the pending emails in console :-)

[2016-09-19 11:30] Holofractographic opened #158 "Form to join a project"
Hi I have a problem when managing the forms to join projects:
https://testocp.freedomcoop.eu/work/agent/82/join-requests/

AttributeError at /work/agent/82/join-requests/

'NoneType' object has no attribute '_default_manager'

Request Method: 	GET
Request URL: 	https://testocp.freedomcoop.eu/work/agent/82/join-requests/
Django Version: 	1.8.14
Exception Type: 	AttributeError
Exception Value:

'Non

[2016-09-20 07:10] XaviP opened #159 "Error running *python manage.py send_faircoin_requests*"
[code]

[2016-09-20 10:29] bum2 commented on #158
I think this error is resolved in last update of testocp (if it appears again, please complain). It is caused when a custom fobi form has not the DB Store handler (added in fobi editor) and a join-request is made.
So, it's mandatory to add always the DB Store handler before publishing the form, and also is mandatory that no fields (of the fobi custom form) are 'required'. Only some of the OCP acco

[2016-09-20 11:24] XaviP commented on #159
Incompatibility with 'work.fobi_form_callbacks'. Now solved.

[2016-09-20 11:24] #159 closed

[2016-09-20 20:24] skoria opened #160 "members need to still have a "buy share" button"
Members as well as candidates would be able to send more money to buy more shares once they are members. In case projects want to donate fair or are adding members and want to give something back for that. In principle this just needs members to have the same button as candidates.

[2016-09-20 20:34] fosterlynn commented on #132
Next piece mostly done: project planning for project coordinators in the work app.  This includes:
* Viewing work orders (customer orders not implemented)
* Planning work (creating a new process and work order) - (but not from recipe)
* Viewing and changing order processes

It is not hooked up to the work app menu - but can be run from here: /work/order-list/.  Leaving it to @bum to decide where t

[2016-09-20 23:31] fosterlynn commented on #132
^ Also, there is not a good way to plan a series of processes for manufacturing something without access to a recipe.  This is an issue in NRP too: https://github.com/valnet/valuenetwork/issues/444.

Workflow plans have the capability, but they are simpler structures.

[2016-09-21 21:11] bhaugen opened #161 "How to set up a collective user"
I know we had a previous issue about this, but can't find it now. I think we decided that a collective could have a login user that could act for the collective.

Here is a new membership request from Javier, who wants to learn OCP to help write some user manuals.
https://testocp.freedomcoop.eu/accounting/membership-request/23/

Javier wants a collective membership. I had some questions about how

[2016-09-21 21:14] bhaugen commented on #161
I have some other questions about membership share requirements if somebody applies for membership as a collective and to do anything, they also need an individual agent+user, because that's what the software expects right now.

We could change the software, but that's how it is now.

[2016-09-21 23:51] zumbrunn commented on #161
Ultimately, the intended behaviour that we discussed, as I understand it, is that we will create one agent and user for the collective and the software will allow that collective user to login and "admin that collective" (whatever that will entail) or at least login and create agents and users that are members of that collective (and perhaps give some of them some admin power over that collective)

[2016-09-22 10:11] bhaugen commented on #161
Here is that previous issue: https://github.com/FreedomCoop/valuenetwork/issues/90

[2016-09-22 10:13] bhaugen commented on #161
I think we decided that a collective could have a user without thinking through all the consequences.

[2016-09-22 11:19] Holofractographic commented on #161
One of the issues related to it as one collective told me is that to have it more decentralized they dont want to have one person coordinating but an user that can be managed by many, to avoid "leaderships"

[2016-09-22 18:06] bhaugen opened #162 "Change form for work logged in Percent insists it should be hours"
See https://testocp.freedomcoop.eu/accounting/process/24/

[2016-09-23 13:47] bhaugen opened #163 "Exchanges don't handle faircoin transfers"
Can't send or receive faircoins in an exchange. Yet.

[2016-09-24 00:29] fosterlynn commented on #132
Another piece pushed: exchanges (list and add/change/delete).  Still just in project-planning branch.

[2016-09-24 00:35] fosterlynn opened #164 "Transfer popup could be more clear"
Would be helpful to have the units show up on this popup.  Would have to be an ajax call when resource type is selected.  And/or, at least put the quantity after the resource type, and then what you are entering for quantity will be more clear by the time you are entering it.

(Scenario: Decentrale has a transfer type that is denominated in faircoin, although it may not actually have been transact

[2016-09-26 21:28] fosterlynn opened #165 ""manager" type is not behaving as a member"
Zumbrunn is a manager of Decentrale, but not a member.  Since "manager" association type is not set up with 'member" behavior, Zumbrunn is not showing up on member driven drop downs.

Suggest: "manager" association type should be set up as "member" behavior. If that doesn't work for people, we can set up 2 associations for the project coordinators - "manager" and "member" or similar.

[2016-09-26 21:29] fosterlynn commented on #165
Further discussion:  The "manager" has a new behavior type called "manager", so this is needed.  So suggest that people who are project coordinators should be set up with two associations to their projects.

[2016-09-30 09:15] bhaugen opened #166 "Ale's task adding problem"
In Telegram, @skoria wrote:

[...]
The project is "Liechtenstein web development" or elwebdev and I was able to go into the admin side and properly add a task. But if I add it from my "alefernandez" account the same task won't appear
 Which is the work app using my freedom coop member account

Relevant links:
* [Ale's Coop Admin agent](https://ocp.freedomcoop.eu/accounting/agent/21/)
* [alefernand

[2016-09-30 13:35] skoria opened #167 "Only one project appears in non-process-logging"
https://ocp.freedomcoop.eu/work/non-process-logging/ also here, the only project that appears is faircoin2 cvn. It should show the user's projects or any generic ones like freedon coop.

[2016-09-30 14:00] #166 closed

[2016-09-30 15:57] bhaugen commented on #167
I'll change it to the user's projects. There are no generic projects.

[2016-09-30 17:30] #167 closed

[2016-09-30 19:24] skoria opened #168 "Adding local node tasks"
Here are some catalan node tasks we'd like to add. I'm adding them so we can chat about the specifics of adding these to OCP.

Exchange office task: this means being at an exchange office for a set amount of weekly hours. Whilst in the office, there are some tasks to do which are specified below, but by being there, you are also allowing for visitors to come and drop by for various reasons. There

[2016-09-30 19:44] fosterlynn commented on #168
@skoria helpful to have the detail.  Do you have thoughts about how to chat about it?

And a question: What would happen as a result of people logging this work?  Is there payment or income of some kind, and if so how does it work?

[2016-10-01 06:20] XaviP opened #169 "Access to "Send faircoins" section in a group"
Who can access to "Send faircoins" section in a group or in FreedomCoop Membership Request Group ?? Admins need to be able to send faircoins with the group address.

[2016-10-01 12:18] bhaugen commented on #169
Good issue. As of now, it is only the group user. And I haven't tested that to make sure it will work.

[2016-10-01 23:19] skoria commented on #168
yes, we would get paid for the time spent for example assisting members with freedom coop issues, exchanging euros for fair, time spent organising a meeting etc, but also just while we are doing hours at the information point. This is in the pad at titanpad.com/localnodecriterias and the idea is its 60% of income from freedom coop which will go to local node tasks.

[2016-10-03 15:03] bum2 commented on #165
I don't know why is needed this double association, where are this 'member driven drop-downs'? i think it is only in coop admin pages... The coop admin app needs to be updated to account and manage these new features of the work app (not developed for admins yet). There's no way to manage a Project from the coop admin side, only as a coordinator via the work app.
The 'manager' behaviour of the 'Co

[2016-10-03 15:24] bhaugen commented on #165
I think the particular problems Chris ran into were in the work app. I'll look into the code a bit later today and see what it would take to make manager behavior include member behavior.

[2016-10-03 15:30] fosterlynn commented on #165
We were working in the admin app, but only because the features are not there yet in the work app.  I can't remember the exact places of the member-only dropdowns, can find them if it matters.  There are several I think.  For sure the exchange types allow picking of an association type to filter agent dropdowns on giver and receiver, and I think that is what we were doing.  Also I think there are

[2016-10-03 19:41] bhaugen commented on #165
I think I have successfully included managers in members in my latest commit. When it gets deployed anywhere, please try the problems you ran into again and see if they are now fixed.

[2016-10-04 12:22] bhaugen commented on #168
From Telegram:

 I wanted to see if the list of tasks I put in the issue on github would work on ocp.. I'm hoping our node tasks reflect what other nodes would also want to do
 https://github.com/FreedomCoop/valuenetwork/issues/168
GitHub
Adding local node tasks · Issue #168 · FreedomCoop/valuenetwork
Here are some catalan node tasks we'd like to add. I'm adding them so we can chat about the speci

[2016-10-04 16:28] fosterlynn commented on #168
In thinking about the general process we are going through, it seems like it is useful to define:
* your value equation (how people will get paid/rewarded)
* any reporting or analysis you want to do from the data for your own understanding

And then work backwards to the simplest logging possible to get those 2 things.

For example, it makes a difference in logging if you want to know how much tim

[2016-10-05 08:51] capiscuas opened #170 "Upload profile image not showing correctly"
Hi,
after my first profile login, when I uploaded my profile photo this is what appears:

![image](https://cloud.githubusercontent.com/assets/515154/19106752/5f2923ca-8ae9-11e6-9311-f1ece8113bbb.png)

The address of that "broken" image is the following
https://ocp.freedomcoop.eu/site_media/media/photos/profile.jpg.128x128_q85.jpg

so I don't know what happened with the one that I uploaded.
Thanks.

[2016-10-05 11:45] bhaugen commented on #170
@capiscuas thanks for reporting the problem, I'll check it out.

I also notice your suggestion of adding Python/Django skills. Do you have such skills?

[2016-10-05 11:52] bhaugen commented on #170
@XaviP do you think we might have a directory permissions problem? Works fine in testocp, same code.

[2016-10-05 11:57] capiscuas commented on #170
@bhaugen Yes I do. Check my open source repositories for python and Django code:
github.com/capiscuas/

[2016-10-05 12:02] bhaugen commented on #170
That's wonderful! Want to do some coding on OCP?
https://github.com/FreedomCoop/valuenetwork

[2016-10-05 12:08] capiscuas commented on #170
Dankon. I will take a look at the project. Looks very interesting. Although right now I am in my quest for a remunerated job as a programmer, so I may not have much time.

[2016-10-05 12:14] bhaugen commented on #170
No worries. We understand not much time...

[2016-10-05 17:40] bhaugen opened #171 "New Feature page"
If possible, make it so all users can add help, questions, etc.

[2016-10-05 18:37] bhaugen opened #172 "Add an easy way to give a user coop admin permissions"
Maybe just a button on their agent page in the coop admin app for now.

Anybody see any problems with that?

[2016-10-05 18:40] bhaugen commented on #172
New admins should be trained and shepherded for awhile by whoever asked for them to have coop admin permissions.

[2016-10-05 19:39] bhaugen commented on #169
E in Telegram says this "is only about one wallet, the one for freedomcoop fees, not something general".

[2016-10-05 21:42] #158 closed

[2016-10-05 21:49] bum2 commented on #171
perhaps a comments thread for all participants of a project is enough? one for the missing 'OCP Help' group to solve this, but all projects will like to have this communication page for all active members, so we can make it general... that is easy now for us, not sure if is better a forum thing or other tools... what are you imagining?

[2016-10-05 22:15] bhaugen commented on #171
Initially, I imagine the simplest thing that could possible work, to get done tomorrow.

After that, we can improve.

[2016-10-06 16:50] bhaugen commented on #171
Unfortunately, I just learned that I cannot embed github pages in an iframe on OCP. Github does not allow it. So I'll need to do this the "right" way...

[2016-10-06 17:08] bhaugen commented on #169
I wrote this in telegram without a response, so repeating here:

1. create a user for that group
2. that user should be able to send faircoins from the group faircoin adress (I think).
Let us all know if that works. It's probably not the way of the future, but it might work now.

This is what we discussed a long time ago when deciding to allow users for groups.

[2016-10-06 18:50] bhaugen commented on #171
Ok, done the right way in https://github.com/FreedomCoop/valuenetwork/commit/98223855a2885b25a17449c3a35d22bfdd5a9f8a

@XaviP @bum2 deploying this will require ```migrate work```.

I added the New Features page to the work app User dropdown menu. Feel free to change.

[2016-10-06 18:51] bhaugen commented on #171
P.S. the only way to add new features is through django admin, which requires superuser permissions as of now.

Once this gets deployed to prod ocp, please people who have added new features recently add them to the new features list. If you are not a superuser in prod ocp, let me know.

[2016-10-07 06:45] XaviP commented on #169
I don't know how to create an user for a group.

[2016-10-07 09:30] bhaugen commented on #169
In the admin app, on their agent page, the Create User button should appear unless the group already has a user.
For example:
https://testocp.freedomcoop.eu/accounting/agent/25/

[2016-10-12 13:04] bhaugen opened #173 "OCP invoice design"
[Pad](https://titanpad.com/freedomcoop-invoice-numbers)

Mario's original thoughts (from the pad):

Needs for the Invoice-Numbers:
- Accepted Self-employed members should be able to create an invoice-number by themselves for services they provide to a customer (“selling”)
- The unique number follows a certain structure: Year/Quarter/Invoice-Number in Quarter/Membership-Number (16/4/099/155)
- This

[2016-10-13 12:07] fosterlynn commented on #173
Earlier discussion on GestioCI and OCP https://titanpad.com/DDjX2Ji5RC

[2016-10-13 14:28] bhaugen commented on #173
Tentative invoice number proposal and questions:

Quoting Mario's notes:

* We can create a new page in OCP showing all the invoice numbers previously created by a user, with a form to create a new invoice number.
   * Should the year and quarter be filled in automatically from the system date, or should the user be able to enter them?
   * The form could have a selection box for the provider on t

[2016-10-13 14:41] bhaugen commented on #173
Also, assuming that the quarter should be computed automatically from the system date or a date entered or selected by the user, should the quarter by computed by month, so that each quarter has the same number of months?

If by month, here is a simple python formula for computing the quarter from the month number:
[code]

Does that seem correct?

[2016-10-13 14:47] bhaugen commented on #173
Also, how much other information should OCP keep along with each invoice number?

I am assuming
* the system date when the invoice number was created,
* maybe an invoice date if we allow the user to enter or select it and it is different from the system date,
* the user who created it, and
* the OCP member that it was created for.

Anything else?

[2016-10-13 21:09] serapath opened #174 "API"
I'd love to use the API as a backend.

I would want to "remote control" everything via API and try to integrate it into `refugeeswork.com` so that refugees (users) can make an account on refugeeswork and have a frontend to "CRUD" their invoices and see/withdraw? money they earned and so on... while the legally relevant stuff goes on in the backend on your side and we just use it via API

I plan to

[2016-10-14 00:52] fosterlynn commented on #174
@serapath there are pieces of API in OCP (from upstream NRP, done earlier), but not for invoices.  In fact, there is nothing yet for invoices, except the base functionality for all kinds of exchanges, including sales with payments, which would support the base invoice data, but not have "legally relevant" specifics.

The next priority for Freedom Coop is getting invoicing going, and it would be gr

[2016-10-14 14:33] bhaugen commented on #173
Decisions (from telegram):

* Year and quarter will be automatically filled in from the system date.
    * Quarters will be based on system date month, with 3 months in each quarter.
* Permissions for creating invoice numbers:
    * If a user is an member of freedomcoop, they will be able to create invoice numbers for themselves.
    * If they are a participant in a collective that is a collective

[2016-10-16 14:58] bhaugen commented on #173
First draft pushed to master. Not connected to menus yet. When it gets connected, it will probably need more work.
If it gets deployed on testocp, it will be at
https://testocp.freedomcoop.eu/work/invoice-number/

[2016-10-16 15:02] bhaugen commented on #173
For those who can read code, here's the method that determines which members you can invoice for:
https://github.com/FreedomCoop/valuenetwork/blob/master/valuenetwork/valueaccounting/models.py#L954

Seem correct? (Or if you can't understand the code, test it when it gets deployed to testocp. Or ask questions.)

[2016-10-17 09:30] Holofractographic commented on #173
Hi! Im testing it but gives me this error:

Page not found (404)
Request Method: 	GET
Request URL: 	https://testocp.freedomcoop.eu/work/invoice-number/

Using the URLconf defined in valuenetwork.urls, Django tried these URL patterns, in this order:

    ^$ [name='home']
    ^accounting/
    ^admin/
    ^account/
    ^notification/
    ^equipment/
    ^board/
    ^work/ ^my-dashboard/$ [name='my_da

[2016-10-17 11:43] bhaugen commented on #173
@Holofractographic sorry,  I don't think it's been deployed to testocp yet.

[2016-10-17 11:48] Holofractographic commented on #173
Ahh ok sorry too fast!!

[2016-10-17 15:27] bhaugen commented on #173
Might be that nobody is doing server admin these days...

[2016-10-18 18:57] bhaugen opened #175 "Work app in testocp is broken (but not prod ocp)"
https://testocp.freedomcoop.eu/work/my-dashboard/
[code]

Same relative url works in prod ocp:
https://ocp.freedomcoop.eu/work/my-dashboard/

The problem is the new_features page which was added very recently and is linked to the work app user menu. I thought testocp and prod ocp were now at the same software level, but either they aren't, or something else is wrong in testocp.

[2016-10-18 19:26] bhaugen commented on #175
Also, we're not getting the error message emails from testocp anymore. And local_settings.py in testocp is not in the same directory as settings.py. Not sure what that all means...

[2016-10-18 20:00] bhaugen opened #176 "User creation failures are caused by ATOMIC_REQUESTS=True in settings"
I finally recreated this locally:

This error occurs when ATOMIC_REQUESTS=True
[code]

If I remove that setting, it does not occur.

The error also seems to be related to duplicate emails (two users with the same email address). But I can't find any reason in the code why that should be true, and Django allows more than one user to have the same email address. And the duplicate emails do not cause

[2016-10-18 20:00] bhaugen commented on #157
Reopened because https://github.com/FreedomCoop/valuenetwork/issues/176

[2016-10-20 09:52] bum2 commented on #132
I'm working in your great project-planning branch @fosterlynn , mainly at nav level and style...
See my commits in that branch, now at testocp.
I think some things are still no so clear:
- When in the work/agent/# page ('members_agent' or project editor page) they are listed the 'Active processes' of the project, but is not the same as the project open orders, listed in the other page. Every order

[2016-10-20 14:01] fosterlynn commented on #132
@bum2

Yes, if you create a process without specifying an order, it will create a new work order (at least it used to).

makes sense

yes

There was discussion of a feature related to this in the last assembly, and a team was formed, but hasn't gotten started yet (invoice numbers were higher priority).  I agree, we need this badly for collective groups to get going.  The feature was to allow proje

[2016-10-20 14:29] fosterlynn commented on #130
Added exchange types and process patterns to the issue name.  They all will need to be done.

[2016-10-20 15:06] bhaugen commented on #175
The bug seems to be fixed.

[2016-10-20 15:06] #175 closed

[2016-10-20 17:45] fosterlynn commented on #132
In general, I like the direction you are going with the navigation -  that many things  (in this case planning work) will be already at the project (context) level, not have project selection on them.

[2016-10-20 22:11] bhaugen opened #177 "Duplicate key error in adding work location"
Internal Server Error: /work/add-location-to-worker/117/
Traceback (most recent call last):
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/utils/decorators.py", line 145, in inner
    return fu

[2016-10-25 14:55] bum2 commented on #130
Perhaps a better approach is to make all these types (resource, exchange and pattern types) tied to a specific context agent, but we use the contexts hierarchy to make common types for all childs. So this way, all member's projects can be childs of a general group (eg. 'FC Members Projects') and the common types are tied to this general agent, so every child of it inherits the types. If we can mak

[2016-10-25 18:02] bhaugen commented on #130
That's one of the design issues on my mind: whether one context inherits resource types etc from their parent. Easy enuf to do.

In any case, all we need is a context agent field on all of those types, and then the inheritance logic, which we already use in other cases so it's pretty easy.

[2016-10-25 18:06] bum2 commented on #130
Yes Bob, seems clear for me. Can you take care of develop the structure for this approach?

[2016-10-25 18:17] bhaugen commented on #130
We're talking about it and think it is necessary. Getting any programming done for us in the near future is a bit of a problem, which I will explain in telegram, but can be done.

[2016-10-31 13:38] skoria opened #178 "deleting a task in https://ocp.freedomcoop.eu/work/my-tasks/ redirects to home"
it should reload the same page

[2016-10-31 15:08] bhaugen opened #179 "Work change task fails on form init error"
Internal Server Error: /work/work-todo-change/102/
Traceback (most recent call last):
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/utils/decorators.py", line 145, in inner
    return func(*ar

[2016-10-31 16:21] #178 closed

[2016-10-31 16:21] #179 closed

[2016-11-03 09:52] CarlosAznar opened #180 "problems with the protocol SSL and urls http"
Hello,
I think I found a bug in: https://freedomcoop.eu/ and my antivirus warns me as unsafe. I think that is due to SSL security protocol of your web.
Still your website has http urls in the code, so the antivirus warns.
I think it is a problem of mixed content. You can fix it reading this: https://managewp.com/wordpress-ssl-settings-and-how-to-resolve-mixed-content-warnings
and also you can read

[2016-11-03 10:24] #180 closed

[2016-11-07 15:02] bhaugen opened #181 "What next for invoice numbers in OCP?"
Now: https://testocp.freedomcoop.eu/work/invoice-number/

* Needs more testing.
* A page showing all invoice numbers, including who created them, has been requested.
* What else?
* What are the priorities?

[2016-11-07 16:43] mario567 commented on #181
- Having an invoice blueprint (excel) to download for the members on the same page of the invoice number creation. (priority)
- This whole page should go under the menu point "membership options" called "Invoicing service"
- Perhaps the option and space to upload the prepared invoices by the members

[2016-11-07 19:21] bhaugen commented on #181
Does such a blueprint exist? I'm also curious if excel is actually a requirement, or if something non-proprietary would do (like a plain csv).

[2016-11-08 12:26] mario567 commented on #181
yes we have one. Think i send it to you already via telegram when we talked about that but i can do it again if you cannot find it. Another format can work as well anyway. Its just necessary that members can fill in certain fields by themselves, like name, adress and VAT of the client, date, invoice number etc.

[2016-11-08 12:48] bhaugen commented on #181
Oops, sorry, I forgot. I have it from when you sent it in telegram. I'll add it to the invoice-number page.

[2016-11-08 21:31] bum2 commented on #132
Yes, general-common groups will have general-common types associated (usable for all child agents). Any project coordinator can set custom types after checking there isn't a suitable 'common' type for the case. The coordinators of general-common groups can update and add common types, and if a custom project's type is good to became a common one, only is needed to change the context of the type an

[2016-11-08 22:27] bum2 commented on #156
Yes me too. Yes we will deal with traveling the tree, using the mptt functions... asap i'll try to make this Skills (types of work) as a hierachy, in a new branch, but let's finish the project-planning first! (pending to add the context agent into the exchange types, the patterns and into the resource types).

Is a good idea to keep the faceting possibility for this 'levels' or other categorisatio

[2016-11-08 22:52] fosterlynn commented on #156
Basically - they are used to limit the resource type selections to the resource types that make sense on various pages.  https://en.wikipedia.org/wiki/Faceted_search

There is no way to record the level of experience for a skill.  Resource types are used for lots of things, so that would be probably too specific a thing to add (IMO).  You could do it now by creating a facet with facet values for t

[2016-11-09 00:03] bum2 commented on #156
good! then we only need to add the 'context_agent' FK field to the resource types and the 'parent' MPTT field to the skills only... is that possible? i see not, it's the same 'resource_type' model... ok, let's add the 'parent' field to the main 'resource_type'. I think we can try to mix the faceting already used with the branching-in-a-tree structure, and use one way or the other to filter resourc

[2016-11-09 00:44] bhaugen commented on #156
The relationship between an agent and a skill now has a field called "score":
https://github.com/FreedomCoop/valuenetwork/blob/master/valuenetwork/valueaccounting/models.py#L5669
which defined as "the quantity of contributions of this resource type from this agent". In terms of skills, it's usually how many hours a person has logged using this skill.

We might be able to figure out how to register

[2016-11-09 01:38] fosterlynn commented on #156
Parent is there already.  (It is used to inherit recipes.)

[2016-11-09 01:45] fosterlynn commented on #132
We should add context agent to ExchangeType model.

I can at least assist in this work.

[2016-11-09 19:14] bum2 commented on #132
Ok, i will do it (with the migrations and so on) in the project-planning branch...
Other small things to improve in this branch are:
- Add a 'delete' button in the right of each item in the 'Order Items' list, in the work/order-plan page. So items can be added and also removed (only if more than one).
- The 'Change' button behaviour in every order in the work/order-list page should be as a modal b

[2016-11-09 22:26] fosterlynn commented on #132
@bum2 nice.  I will let you know when I get some time too, but it is unclear.

So, for model changes, we would want to add the context_agent (EconomicAgent FK) to ExchangeType, ProcessPattern, and ResourceType.  And it should be optional.  Does this seem right?

[2016-11-10 12:09] mario567 commented on #181
okay Bob thanks, did you add it already there? cannot see it yet

[2016-11-10 12:26] bhaugen commented on #181
No, haven't had time yet. Will do tomorrow latest, and get back to work on OCP more generally.

[2016-11-11 16:13] fosterlynn commented on #130
I think we should add EconomicResource to the list for adding the optional context_agent field.  This would be needed when resources are created with global resource types.  Then all resources can be kept within a context (collective, etc.)

[2016-11-15 14:34] bhaugen opened #182 "How to coordinate work on bugs"
This is a starter for some discussion. When we reach rough consensus, I'll document it somewhere more permanent.

As of now, most bugs trigger system error 500, and an email is automatically sent out to a list of email addresses, which now includes me, @fosterlynn , @bum2 and @XaviP .

I think Xavi is out of the OCP loop now, and maybe we should add Valentina (if she wants). Xavi knew Django and c

[2016-11-15 16:08] bhaugen commented on #182
We should also roughly figure out who is the go-to person about different kinds of bugs.

For example, I figure @bum2 is the go-to person for menu and fobi form bugs. Not that he needs to fix all of them, but somebody else might need his advice.

I can probably handle almost any kind of bug except server config bugs, which I won't get into. @fosterlynn is the go-to person for Exchange bugs.

We ne

[2016-11-16 12:24] bum2 commented on #172
Ok, but i see no point of making admins (we've a lot already). The FC member role should be enough to create and manage a project in ocp. All the features still missing in the frontend (work app) are just not ready, so is better to focus on the definition of the needs and development of the tools for all members, instead of making more admins.
Also note I've not developed nothing in coop admin int

[2016-11-17 13:14] bhaugen opened #183 "change_your_project bug"
Internal Server Error: /work/change-your-project/143/
Traceback (most recent call last):
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/home/ocp/webapp/env/lib/python2.7/site-packages/django/utils/decorators.py", line 145, in inner
    return func(

[2016-11-18 00:08] bum2 commented on #183
solved in commit https://github.com/FreedomCoop/valuenetwork/commit/e326b2942bbeb600aa0b9914c8eb1a8a38b774c9

[2016-11-18 00:08] #183 closed

[2016-11-18 00:20] bum2 opened #184 "Simplify the process of creating an Exchange in work app"
Now in the project-planning branch we have this exchange creation feature (now testing in testocp), but i think it can be improved:

In the project editor page (work/agent/x) we go to the exchanges page (work/agent/x/exchanges) and there we can choose the 'exchange type' to create a new exchange (step 1). When you click there you go to another page (exchange-logging-work) that asks for a date, a l

[2016-11-18 00:34] bum2 opened #185 "Change form to modal in work/order-list"
Just to change the behaviour of the 'change' button on the work/order-list orders, and do a modal form instead of another page...

[2016-11-18 00:45] bum2 opened #186 "Add a delete button to the order list of items"
In the work/order-plan page, when adding items to an order, there's no way to delete them from the list.
I think about a little delete button beside every item in the initial short 'Order Items' list, but only appearing if there are more than one item, so the order cannot be emptied.
One example is here https://testocp.freedomcoop.eu/work/order-plan/10/ (i've made Bob&Lynn coordinators of the cata

[2016-11-18 01:25] bhaugen opened #187 "odd permissions problems"
See https://testocp.freedomcoop.eu/work/process-logging/23/

[2016-11-18 02:00] fosterlynn commented on #184
Background: 2 and 3 are actually one page, but the transfer side doesn't show up until the exchange is saved because it won't work for people to enter transfer information with no exchange. (The exchange is the left side; the transfers that are part of the exchange are on the right side.)  But partly it is also left over from when the context agent and the exchange type were entered on that left s

[2016-11-18 10:40] bum2 commented on #130
I'm re reading all this issue, and here i put also also some key talks in the telegram group (about 'resource types'):

[Forwarded from Lynn Foster]
also exchange types (like patterns) have a section referring to resource types, so i think they need to be handled basically at the same level

[Forwarded from Lynn Foster]
global exchange types could only refer to global resource types; project resou

[2016-11-18 11:42] bhaugen commented on #145
Preliminary results of research into Django model-translation packages:

3 packages stand out, listed with links to their documentation:
*  django-modeltranslation: https://django-modeltranslation.readthedocs.org/en/latest
*  django-hvad: http://django-hvad.readthedocs.org/
*  django-parler: https://django-parler.readthedocs.io/

One big difference is that hvad and parler add extra models and db t

[2016-11-18 15:55] bum2 opened #188 "Error when de-assigning use-cases from the 'process-patterns' admin page."
in https://testocp.freedomcoop.eu/admin/valueaccounting/processpattern/ when editing a pattern and trying to delete the relation with a 'use-case', choosing the empty option in the dropdown (------), it fails when saving, giving the error:

[2016-11-18 15:57] bum2 commented on #188
if correctly checked the delete checkbox and save, it works clean with no error...

[2016-11-18 16:01] fosterlynn commented on #188
In general, patterns should only be edited in the app itself, there are a lot of data connections that admin can't take care of.  So this may be a bug, but if so, I don't see it worth fixing.

To change the use case for an existing pattern: add the pattern to the new use case (right side of screen, choose an existing pattern); then you can delete it from the original, or not (left side of screen).

[2016-11-18 19:58] bum2 opened #189 "Add a 'Project Relations' modal to project page ("Maintain Associations")"
That's to be added in the 'members_agent.html' in the Relations infobox, a new 'Edit Relations' button that opens the modal form. If is not easy to add two screen 'tabs' in the modal, perhaps is better to do two buttons+forms: one for upwards relations, one for downward relations.

[2016-11-18 21:11] fosterlynn opened #190 "Split membership fee 40% 60%"
getting access to the Faircoins from the membership contribution and split them automatically in two different and new addresses (40% global,  60%  local)

[2016-11-18 21:15] fosterlynn opened #191 "Limit access to invoice numbering page"
access to the invoice numbering page only for active participants and coords of the project 'self-employment' (submenu item from the project page).

(I started a new issue for this because it is separated out for this sprint, it is a small piece of #181 .)

[2016-11-18 21:19] fosterlynn opened #192 "Do fobi forms for admin"
do the fobi forms that admin defines until we figure out how to let admin do them directly

[2016-11-18 21:55] bum2 commented on #130
Ok, imagine we have this context_agent FK in the EconomicResourceType model. Now let's imagine the workflow to start planning: The goal of the 'plan-work' page is to define a process task and set a related open order, isn't it?

The project coordinator goes to plan new work, the first step is to choose a Pattern... that's an absolute mistery for any user (we need to explain what are patterns there

[2016-11-18 22:38] fosterlynn commented on #130
We can't actually remember why there is context_agent on ProcessType, but we can use it if we want.  Theoretically we could use it to make a recipe context agent specific, but better to use resource type I think.

ProcessType could be very specific, much more than ProcessPattern.  In manufacturing, you will get many very specific process types when creating a recipe, like "assemble the xyz part" o

[2016-11-18 22:43] fosterlynn commented on #130
Not sure what you mean by jumping over the facet system....  The planner doesn't see the facet system, but the facet values are used to link the pattern slot and the resource types, so we can't get rid of them in the background.

Otherwise, if I understand you correctly, seems OK.

(Note, I'm first going through and answering questions, then will step back and think about the whole thing.  Also, I

[2016-11-18 22:48] fosterlynn commented on #130
Yes, we can use the "child" behavior of the agent association type for this.

[2016-11-18 23:00] fosterlynn commented on #130
Actually this is probably better: starting at slide 9 of this tutorial https://speakerdeck.com/mikorizal/3-nrp-resource-type-setup-concepts-and-tutorial  (only if it helps of course, feel free to ignore if it doesn't :blush: )

[2016-11-18 23:17] fosterlynn commented on #130
Yes correct.  This is the "manual" version of planning, when there is no recipe.  The user can pick as much or little as they want on this page, and then can add more on the process logging page also. I'm not sure which is easier to use actually.

In terms of the order assignment, that is there so you can add a process plan to an existing order.  Or it will create a new one if you don't pick one,

[2016-11-18 23:53] fosterlynn commented on #130
I decided I did need a picture, even if nobody else does. :)  I think I got this right, but let's think about it.  The red is where we need to add optional context_agent.

![contextagentocp](https://cloud.githubusercontent.com/assets/3776081/20450666/a570bcc6-adb7-11e6-8591-1fbea2548937.png)

[2016-11-19 00:18] fosterlynn commented on #130
Now I have questions. :)  And discussion.  Still thinking.

What you are assuming for "upward context agents"?  Not sure there will be much in the way of parents.  I could be wrong, just looking at the collectives who are joining so far.  I think unfortunately each collective is going to have to learn how to do this. And I totally agree patterns are a mystery. This is a big training thing, maybe t

[2016-11-19 01:15] fosterlynn commented on #130
correct, this is a Sensorica particularity, we can get rid of it

yes, these are not really correct because they are the same relationship, just different directions.  They are useful from the perspective of one network with relationships outside the scope of the installation.  But I don't think that is really true for FC. Needs re-thinking.

[2016-11-19 01:28] fosterlynn commented on #130
I think I am missing something on the trees of agent relationships. It is a cool UI concept, but I am missing the use case for it.  Is it about traveling the relationships for notifying other agents about new resource types, etc?

By the way @bum2 , I am impressed and happy with how deep you are getting into this.  Don't let all my questions and comments imply anything else!

[2016-11-19 01:43] fosterlynn commented on #130
I didn't think we agreed on this.  I still need to go back to Decentrale (hey where is Chris? I don't see his github account....) and remember where we were getting to on structuring their economic flow using exchanges.  I think they were pretty specific to them.  And I suspect collectives will want to define their own. And I'm worried about adding cumbersome processes of requesting things of over

[2016-11-19 13:39] fosterlynn commented on #130
^ Another thought on exchange types - since they will reference resource types through facet values, and resource types will be by context, I think that forces us to do exchange types by context also.

[2016-11-19 14:18] fosterlynn commented on #130
Thinking.... here is a list of existing functions I think would want to be pulled over to the work app for this, possibly mostly for coordinators(?):

Facets and Facet Values (new page, currently only in admin)
Process Patterns
Exchange Types
Resource Types
Recipes (Manufacturing and Workflow)
Plan work without recipe
Plan work with recipe

And then add notifications and the other functions needed

[2016-11-19 14:49] fosterlynn commented on #130
The two biggest questions in my mind:

1. What can we do to make this actually understandable by all these individual projects? Perhaps the system is too configurable? How can we balance global and context specific configurations?  Is there a way to make the whole facet value scheme optional, only needing to be added when the resource type lists get too long or confusing?  (I think so.)  What kind

[2016-11-19 15:12] fosterlynn commented on #130
Aha, @bum2 I start to see that 2. above might be where you are going with your proposal to group types of agent associations?  To see who might want to coordinate with who on these configuration pieces?

OK, I'll stop posting and wait for some responses when they come.

[2016-11-21 14:20] capiscuas commented on #145
Hi, I don't understand what DB strings are you refering.
I see in the code you are already using the default Django translation _("translate-me") capabilities.

https://docs.djangoproject.com/es/1.10/topics/i18n/translation/

can you give me an example?
Thanks

[2016-11-21 15:17] bhaugen commented on #145
@bum2 's original post above included some examples. One example is we are using [fobi forms](https://github.com/barseghyanartur/django-fobi) which are user-defined with all of the form contents in the database. Does not fit the default Django translation pattern, but Django packages includes several plugins that will translate database fields.

[2016-11-21 19:03] bum2 commented on #130
Yes @fosterlynn , i'm imagining a way to organize common types and patterns per sector of activity, using the multi hierachy system we already have with context agents (very powerful). With this approach we'll need to create groups of projects that will share resource types, exchange types and patterns. Every project can be in many different groups, so inheriting 'types' from different sources. Th

[2016-11-21 19:47] fosterlynn commented on #130
The facets are only there to categorize and filter resource types in various situations.  That said, we need them for anything that uses a process pattern or exchange type - and they have infinite uses beyond sector grouping - so they'll be there in any case.

[2016-11-21 19:53] fosterlynn commented on #130
Would you create a context agent for each sector? (Or for whatever groupings make sense to the groups themselves.)

In any case, I think it is a powerful vision, and takes NRP to the next level - community / regional economic ecosystems.

[2016-11-21 20:06] bum2 commented on #130
Then is going to be everything 'context agent related', but not isolated one from the other because most of the things will be related general contexts, so inherited by all childs.

Yes, one use case is for notifying other agents or the parent project coordinators about new types, but is just to make clear the different behaviors or kinds of relations. Sometimes we have to reach the parent of a pr

[2016-11-21 20:09] fosterlynn commented on #130
That said, I still wonder the best way to implement.  My 2 cents: I don't think FC has a use case for this yet.  It is going to take some thought and some coding.  Some collectives are waiting for this before they can complete their OCP setup.

Proposal for discussion:
* First phase we just make this work for each context agent.  And at the same time make patterns optional.  (Not sure about exchan

[2016-11-21 23:20] fosterlynn commented on #130
One thing to add to the above: Besides the implications to the types-by-context-agent issue, there is a whole piece of discovery, formation, etc. of how projects get to know of each other, figure out how to form associations with each other, etc. within the ecosystem.  It strikes me as a big set of features that will require quite a bit of discussion and thought?

[2016-11-22 12:35] bum2 commented on #130
... Perhaps is better to get rid of any differentiation (between 'child' and 'member' relation behaviors), and simplify the relation behaviors to 3, joining the 'child' and 'member' concepts into one? In a possible future, the projects with same kinds of activity sharing common types, organized as childs of a sectorial group, will start to use the sectorial grouping context agent really as a globa

[2016-11-22 17:50] fosterlynn commented on #130
I can take a look in the system to see how we are using these.  One way is on the Organization page, the child type associations show as the indented hierarchy when you open the page; the member and all others show differently.  I can't remember other implications but I'm pretty sure there are some.

I do see gray overlap, but to me children imply there is only one parent - like Sensorica the orga

[2016-11-24 23:57] bum2 commented on #130
One think maybe missing in the diagram by @fosterlynn is the AgentResourceType model. It happened when creating the context_agent FK in the EconomicResourceType model, the django crashes due a `Reverse accessor for 'AgentResourceType.agent' clashes with reverse accessor for 'EconomicResourceType.context_agent'. HINT: Add or change a related_name argument to the definition for 'AgentResourceType.ag

[2016-11-25 00:05] fosterlynn commented on #130
The AgentResourceType is used for agent skills (types of work the agent has done or can do). May have other uses too, @bhaugen could fill in more if useful.

But in any case, it is not used for context agents, and supports a many-to-many, which is more than we want, so we still need the foreign key.  We just have to get unique names everywhere for the related names.  Sounds like the related names

[2016-11-27 18:07] fosterlynn commented on #189
I un-assigned myself on this until I get my local environment working again.

[2016-11-27 21:50] fosterlynn commented on #188
OK to close?

[2016-11-27 21:59] fosterlynn commented on #171
what is the status of this?

[2016-11-28 00:03] bhaugen commented on #171
It's out there. https://ocp.freedomcoop.eu/work/new-features/

[2016-11-30 18:50] carbans commented on #145
I'm working on this issue.

[2016-12-02 14:52] bhaugen commented on #130
It's actually a relationship between an Agent, a Resource Type and an Event Type. And it keeps a total of the quantities of that combination recorded in Economic Events. So for a skill, it's the amount of work an agent has done using that skill. For a supplier, it might be the total quantity of a resource type that the supplier has delivered. Etc. It's redundant: you could figure it all out from t

[2016-12-02 14:54] bhaugen commented on #130
There is now a lot of data inheritance going on using child relationships, where something is inherited from a parent. Member or participant does not necessarily have the same semantics. So you'd need to be careful if you merged those relationships into one. They are not semantically the same.

[2016-12-02 15:43] fosterlynn commented on #130
It's not totally redundant, because people can enter their skill (in admin only) - but conceptually, it can show skills you have used or skills you say you have.

[2016-12-02 16:29] bhaugen commented on #130
True. Obvious. Why didn't I think of that? I'm losin it!

[2016-12-05 17:39] bum2 commented on #130
To achieve a tree of exchange-types and a tree of resource-types to choose from or insert a new one i had two or three options:
- one option is to try to integrate the mptt system into valuenetwork core models (glups)
- another other option is to make new models with tree funcionality (mptt) in work app
- the third option is to just add a whole new app already done by me 2 years ago, called Genera

[2016-12-05 18:13] bhaugen commented on #130
@bum2 I'll check this out in detail if and when you push some code I can run locally, but you need to be careful with concepts like resource types. They are part of an economic ontology that has been carefully design by a global community since 1980 and is an ISO standard (listed in https://github.com/FreedomCoop/valuenetwork/wiki/Links ). That's what NRP and thus OCP are based on.

That's why the

[2016-12-05 19:28] fosterlynn commented on #130
If it is a tree, it could be all resource types with parents. Facet values are not a tree structure.  But I don't know if that is best or facet values are best. Will look forward to taking a look!

I thought this was #156.  @bum2 are you also doing this issue while you do the tree UIs? That is, do the trees work with resource types that can have a context agent related to them?

Another question:

[2016-12-06 02:26] bum2 commented on #130
The resource types of ocp are not modified in this approach, only the way to select them with a layer of trees and common sectorial branches (linked to facetvalues) and also with a scope or visibility, related to the nestable context agents in ocp. As I see when comparing REA and the General app, the Resources is what i call 'artwork' (names of things), the Events is what i call 'arts' (verbs: rel

[2016-12-06 02:45] bum2 commented on #130
the skills are not modified yet, perhaps after this main 'types' issue i can focus more on the skills side of it (resource type of 'skills' facet)...

Only the UI chooser (select) will show tree structure (from general app) but the exchange types will not have hierachy: the selected type is linked with a real exchange type behind the scene... Now i'm setting a common set of exchange types, very ge

[2016-12-06 10:04] bhaugen commented on #189
Questions as I start to think about this:

@bum2 - where did the quote in your initial comment above come from? I'm missing some context.

The admin app (for example, https://testocp.freedomcoop.eu/accounting/agent/96/ ) has a Maintain Associations form (for example, https://testocp.freedomcoop.eu/accounting/agent-associations/96/ ) which was designed to allow an administrator to create any associ

[2016-12-06 13:48] bhaugen commented on #130
@bum2 I am confused. Your General proposal seems unrelated to this issue, which is about connecting things to context agents.

This context agent issue is conceptually simple and fairly easy to understand and implement, although wide ranging in terms of scope of system change. The General app is conceptually complex and possibly difficult to integrate. You wrote above, that it is

So it has not be

[2016-12-07 13:58] bhaugen opened #193 "Bug in faircoin address code? Need to rebuild wallet."
In telegram, @santiddt says,

[2016-12-07 14:00] santiky commented on #193
Hi,
we need to look in the log files in the production server. Perhaps is a loop in the ocp code retransmiting several transactions.

[2016-12-07 14:07] bhaugen commented on #193
I think this is the only place where faircoin addresses and transactions are handled in OCP now:
https://github.com/FreedomCoop/valuenetwork/blob/master/valuenetwork/valueaccounting/process_faircoin_requests.py
which calls
https://github.com/FreedomCoop/valuenetwork/blob/master/faircoin_nrp/electrum_fair_nrp.py

[2016-12-07 14:50] bhaugen commented on #193
Here are the valid faircoin addresses in prod ocp:
https://ocp.freedomcoop.eu/accounting/resource-type/26/
There are 85 of them.

Here in testocp:
https://testocp.freedomcoop.eu/accounting/resource-type/26/
48 of those.

[2016-12-07 14:52] bhaugen commented on #193
@santiky I can't remember, is it possible to delete faircoin addresses from the wallet without causing major side-effects? If so, it should be possible to do a script to run on the server that deletes the faircoin addresses that are not used by anybody in the system.

[2016-12-07 15:04] bhaugen commented on #193
@santiky says in telegram,

[2016-12-07 15:10] bhaugen commented on #193
More:

[2016-12-07 17:00] santiky commented on #193
can i have a file with the valid address? I have a file with all address and i can filter out and delete the unvalid.

[2016-12-07 18:13] bhaugen commented on #193
I could try changing the code that sends the faircoin address request. It is now
[code]
I could try something like
[code]
 I hesitate because when I changed the unicode u'P\xedlikum' to somethign that would work in ascii, I thought it would solve the problem and Pilar would get a faircoin address.
But it just solved the ascii exception, did not result in a faircoin address.

[2016-12-07 18:17] bhaugen commented on #193
I'll see if I can create one and respond here.

[2016-12-07 18:18] santiky commented on #193
don't worry, already done exporting from the database

El 07/12/16 a las 19:17, Bob Haugen escribió:

[2016-12-07 18:24] bhaugen commented on #193
Ok, good, thanks

[2016-12-07 18:27] bhaugen commented on #193
By the way, field in valueaccount_economicresource is called digital_currency_address - but you probably figured that out already.

[2016-12-07 19:44] #193 closed

[2016-12-08 10:57] bhaugen opened #194 "Faircoin requests keep trying forever after failing"
They should either fail once or at least limit their retries.

Failing once will be easier than limited retries, which will require a database change. But failing once will also need some kind of notification to be friendly, and then maybe some admin action if the failure was some temporary condition and a retry will be ok.

I'm labeling this as a bug, but it will also need some discussion.

This

[2016-12-08 11:10] bhaugen opened #195 "OCP can send faircoin transactions without funds"
In telegram, @santiky says the way to do it is:

The balance comes from the network, and has not been updated by the previous transaction yet. The transactions get processed by a cronjob that runs once a minute, so there is always at least a one minute delay in updating the balance.

However, OCP knows about the new transaction, so it should be possible to update the balance locally and prevent th

[2016-12-08 14:09] fosterlynn commented on #189
My understanding from the original description above is:  you can only make your project a child of another project that is set with autojoin true.  You cannot make a project which you are not a coordinator of a child of your project.

I have questions about that- The "child" association type wasn't really thought of for creating multiple parents.  There is a fair amount of inheritance from parent

[2016-12-09 02:13] bum2 commented on #189
The requirement comes from the project coordinators, to manage his project relations:
- Access to the button or the page is only for project coordinators or admins.
- A button called 'Project Relations' in the subnav of the work/agent page to go to this new page.
- One part of this page is to see the internal relations of project members: coordinators can switch the role of them between 'participa

[2016-12-09 03:11] bum2 commented on #156
Ok, we don't need to change the 'parent' field of EconomicResourceType into a tree mptt one because we can use the trees in the General app to show nested subcategories of Skills, and they are linked behind the scene with a real ocp resource_type with 'types of work' facet.
One of the reasons of adding this General app is to let the valuenetwork app code minimally touched. All kinds of needed tree

[2016-12-09 12:55] bhaugen commented on #130
@bum2 you have not responded about whether you are working on your General app in the same branch as the context agent issue. If you are, then the context agents will not be deployable (nor can anybody else build anything else on them) until you are finished with the General app. That's why we keep asking.

[2016-12-09 16:19] fosterlynn commented on #189
@bum2 thanks for this info, very helpful.

But this description does not exactly match your original definition of the issue - for example no mention of "participant".

This is an interesting question.  NRP supports this, using the "customer" and "supplier" types.  But it assumed a more focused network than OCP.  Now that we are putting in more boundaries between the projects, is there a danger of

[2016-12-09 18:02] bum2 commented on #130
Hi Bob, sorry if not seems related... To deal with the context agent of a resource type or exchange type, was needed to figure out how a coordinator will choose from existing types, and then proceed to design the workflow of creation of new exchange or resource types, only for a project context or as a shareable type for more projects.
The first part, how to choose a type, is the motivation for th

[2016-12-09 23:53] bhaugen commented on #130
Thanks for the response and explanation.  A couple of followups, but then I want to discuss the General app a bit when we have some time and space, and maybe after you push enough of the models so I can follow along technically as well as semantically.

I'm on the wallet bugs with help from Santi. @fosterlynn will take over the relations page, at least for now.

You need to communicate with the ne

[2016-12-09 23:54] fosterlynn commented on #130
In my experience, there will not be a lot of exchange types, especially as we start to allow agent specific ones.  It can be a dropdown.  In fact would be best as some form of simple flat list - dropdown, checkboxes, etc.

The same will be true of process patterns.

Resource types are the items that need a way to search / filter / etc.  In OCP, the exchange types and process patterns do pretty wel

[2016-12-09 23:57] bhaugen commented on #130
Yes. So if there is any way to expedite the context agent improvements and work on the General app separately, that would be the best. @bum2 I'll leave you to think about how to do that. If you don't know, @fosterlynn can usually help with these kinds of problems.

[2016-12-10 13:50] bhaugen opened #196 "Faircoin addresses can become "ERROR""
This happens sometimes when the daemon returns that string to the command “new_fair_address”.

OCP traps that response for faircoin transactions, but not for faircoin address requests. So that needs to be done for address requests as well.

[2016-12-10 13:59] bhaugen opened #197 "Faircoin bug investigation results"
I'm posting these here now, but @santiky - who did the original work - may have more to add.

## Overview

This investigation was prompted by his finding of https://github.com/FreedomCoop/valuenetwork/issues/193 - where OCP was generating 10,000 unused faircoin accounts.

After that, he ran into https://github.com/FreedomCoop/valuenetwork/issues/195 - where it is possible to get OCP to send a fair

[2016-12-10 14:00] bhaugen commented on #194
So far, this has come up in faircoin address requests.

The new_fair_address function should be changed to either succeed completely and send a valid address back to OCP, or fail completely (that is, not leave a bogus new address in the wallet).

Also, if the faircoin address comes back as the string "ERROR", which it can do, that response should be trapped and faircoin admins should be notified.

[2016-12-10 17:39] fosterlynn commented on #189
I'm starting work on this.

[2016-12-12 00:09] bum2 commented on #130
The testocp is now with this project-planning branch deployed, with the General trees added, basically to the Exchange process for coordinators, for all you to see and test. (If you want to test in local, please follow this order: pull the project-planning branch, migrate, then enter sqlite3 and import with `.read general1.sql`, then `.read facets1.sql` and then `.read work_ocp.sql`, also is neede

[2016-12-12 10:57] bum2 commented on #184
I know why is needed, but I think the fast solution is to autosave the exchange when entering the page, just with the actual date (the required field) and a note like 'please set and save the right exchange date here' next to the date field. This way the transfers part in the right side will show up from the beginning. Is not perfect but i think is better than now and fast to do.

[2016-12-12 11:29] bum2 commented on #145
Marvelous @carbans !!
The existent db texts that needs to be translatable now are:
- Name or value field of exchange types, resource types, facets, facetvalues, etc
- Name and description of projects or any context agent
- Custom form fields labels for moderated projects (fobi system)
- Help system

I think we need to set a list of table.fields that need translation, so we can put any field to the

[2016-12-12 11:48] #188 closed

[2016-12-12 11:55] bum2 commented on #192
i think is better to focus on how a coordinator of a project can set the custom form fields from the work app... so no more admin work. Now is only doable only by superusers but we can go straight for the work app user version (a new page only for moderated project coordinators)... what you think?

[2016-12-12 13:18] bum2 commented on #184
About the Exchange system I have some still some doubts that @fosterlynn or @bhaugen can answer:
- The separation in 'incoming', 'internal' and 'outgoing' exchange types is strange to fit in some cases. Nearly always there's both incoming and outgoing resources from the project in the same exchange. If we only account as resources whatever but not money, then is ok, incoming products-services and

[2016-12-12 14:18] fosterlynn commented on #184
I think the incoming, outgoing, internal exchange types separation doesn't make any sense for OCP - as you pointed out, all are part of the network.  When I put them into the work app, I just combined them so nobody sees the difference.  Some day we can fix up the admin side.

The question about transfers and reciprocal transfers: we do need this, but if it unclear because it is straight barter fo

[2016-12-12 14:20] fosterlynn commented on #184
Donations probably only have a transfer, no reciprocal transfer, unless you are offering some prizes for crowdfunding or something.

[2016-12-12 14:40] bhaugen commented on #130
Just wandering around testocp a bit. I can see a lot of General app stuff in django admin. Where's the best place to look in the coop admin (accounting) and work apps?

These will be preliminary questions, very perceptual, until I understand better. So don't worry about them much, but please do answer (unless I come back soon and say I answered it myself).

By the way, I like the unit conversion s

[2016-12-12 16:34] bum2 commented on #130
Yes, the admin side of General is not to be used right now, it's there just for you to see it an try if you want (then it can be hidden). The only used parts in OCP are already in the Work admin part, only for the 3 branches of types used now. If is needed to add a new material, non-material and record type for ocp please only use the Work tables (not the General ones). Specially the main Types ta

[2016-12-12 17:19] fosterlynn commented on #130
If we want to do that, we should do some code reading and testing.  I'm not totally sure in all the places we are using inheritance from parent agent that it will support multiple parents.

[2016-12-12 17:45] bhaugen commented on #130
I'm pretty sure it won't. We might be able to make it work, but could be pitfalls even if it looks like it is working in some cases. Will need a good set of test cases.

[2016-12-12 17:49] bum2 commented on #130
You are true @bhaugen about the cases where is difficult to choose 'material' or 'immaterial', its an old debate. I try to always use a clear answer: What is the main value part of the item? if the main value part is virtual then the resource is non-material, attached nearly always to a material item as a support. Also the other way around, many physical items have a non-material 'resource' attach

[2016-12-12 17:53] bhaugen commented on #130
I was referring exchanges, not resources. You created material and immaterial exchanges. A particular exchange could have both.

[2016-12-12 18:08] bum2 commented on #130
About the multiple parents of the context agents i think is good now to keep things easy and restrict only one 'main' parent for the 'child' relation (the admin organization tree) and other parent relations like member or participant can be multiple and is not needed now a tree to show them in the coop admin app, but will be nice to show a nested sub tree for every project and its internal structu

[2016-12-12 18:20] bum2 commented on #130
Oh yes, you are true. That exchanges types are really related the choosing of resource types subsets for easier finding, but a more easy UI approach can be to set both a exchange type (gift, exchange, sell-buy) AND a facetvalue or 'sector' (more than one?), before creating a new Exchange. This way the resource types are also filtered, but not by the exchange-type predefined transfers. That's a hug

[2016-12-12 18:32] bum2 commented on #192
One small-big fix we need asap is to let any superuser or even a coopadmin to edit a fobi form with the fobi screens. Now a custom form it's only editable by the author, and that pages are restricted to superdmins. So first step, let all superusers edit all the forms with the fobi pages (they can already edit via admin side).

[2016-12-12 18:33] bum2 commented on #189
wonderful Lynn!

[2016-12-12 18:59] bhaugen commented on #130
Somewhat related question: what are services? Or work? Material or immaterial?

[2016-12-12 19:53] bum2 commented on #130
As you see i've proposed services as immaterial resources: time. Also skills are very related to services, and also material or nonmaterial things. I think every material or non-material resource will have a related skill, work, job or Art to produce that (the verb) and what is traded as a 'service' is always related time. Of course every aspect is very related the others. For example, you can buy

[2016-12-13 11:20] bhaugen commented on #130
@bum2

I am looking at projects I coordinate, and do not see a way to get from there to the exchanges page.
For example https://testocp.freedomcoop.eu/work/agent/79/ or https://testocp.freedomcoop.eu/work/agent/96

(P.S. that last one shows up twice in https://testocp.freedomcoop.eu/work/your-projects/ - not sure why...some kind of bug...)

[2016-12-13 12:08] bhaugen commented on #130
@bum2 since we don't have that calendar now (unless I missed something), let's do a little time coordinating here. I'd like to get deeper into your General app some time when you have time for discussion. Can't do it today, too much happening on the home front. But I could do it any of the next days. When will you have some time?

[2016-12-13 18:05] bum2 opened #198 "Let coordinators manage the project fair account and choose address by ocp user"
Was a small+big update very needed in prod, so now the coordinator of a project can manage the faircoins of the project. Sorry to not even rise the issue before, i've fixed this asap and pushed to testocp, then to prod, very fast...

Also started the option to choose a faircoin receiver by choosing a related ocp agent. It works now also this feature, but the agents shown there are still not enough

[2016-12-14 12:45] bum2 commented on #130
Sorry, during some hours yesterday i putted the master branch in testocp, because I was trying a fast update very needed in prod (see #198)... now is again the project-planning branch on testocp, so you will see the 'project exchanges'.

Just now i has been able to get-up the sandstorm (the calendar, the wekans, etc), coordinating with santiddt to be able to erase non required things and make some

[2016-12-14 14:49] bhaugen commented on #130
I'm in https://testocp.freedomcoop.eu/work/agent/96/ again and still do not see project exchanges.

Same for https://testocp.freedomcoop.eu/work/agent/26/ where @bum2 you are also a coordinator.

[2016-12-14 14:56] bhaugen commented on #130
@bum2 what I would like to do with the General app is compare your models one by one with the OCP accounting models. I'll start working on this later today. Would be best if I could find that project exchanges link and anything else from the General app that is visible in testocp, but not totally necessary. I can work off your docs.

Then maybe we can discuss on Friday?  Thanks.

[2016-12-14 16:45] bum2 commented on #130
the link appears for me in both cases... let me review with a non-staff user... yes it is there too, even if only participant... oups, even if not related the project... i'll make the submenu link only for participants...

I think there are many other priorities before studying a deeper future integration with General app... we can just use it whenever needed and perhaps one day we can think about

[2016-12-14 17:16] fosterlynn commented on #130
Yes, I see it - it is on the right of the legend line

[2016-12-14 17:36] bhaugen commented on #130
I don't see the legend line at all in either of those pages.

[2016-12-14 17:53] bhaugen commented on #197
From @santiky in telegram: separate the address request-response from setting the label.

[2016-12-14 18:00] bhaugen commented on #130
Good. @fosterlynn agrees. So do I.

[2016-12-14 20:06] fosterlynn commented on #130
@bum2 I took a look at the exchange type drop down in testocp.  It seems harder to choose to me, because of the extra detail for some exchange types.  The parent categories could be helpful, if we highlighted the items a person could actually pick.

What does the "(OCP)" flag mean that you see in the admin side?  Are you flagging for what to show in the work app?  What wouldn't be shown in the wor

[2016-12-14 22:26] bhaugen commented on #130
This is interesting: on Your Projects, I see exchanges links alongside the projects where I am a participant, but not those where I am a coordinator.
https://testocp.freedomcoop.eu/work/your-projects/

However, I do not see the legend banner or the exchange link on any the individual project pages, whether I am a coordinator or a participant.

Same for the projects I can join: no legend, no exchan

[2016-12-14 22:53] bhaugen commented on #130
Solution to missing legend-exchange link mystery: works on firefox, does not work on chrome.

If I look in the chrome dev tools, the legend and subnav end up hidden behind the top navbar.

[2016-12-14 23:13] fosterlynn commented on #189
@bum2 I pushed a start to the modal for members.  Doesn't save yet.  But you might want to take a look and see if you think I'm going the right direction.  One issue is there might be more than one member type relationship for the same agents.  If this is not valid, we should validate for it on entry.  But I hesitate to bake that in, limits flexibility.  What do you think?

I think I'll make a sep

[2016-12-15 11:26] bum2 commented on #130
Yes ok, we can simplify that tree with only main categories, but if we want to prefilter resource types then we can put another chooser for the exchanged resource type family....
Also i wanted to highlight the 'connected' or active options (not achieved yet).

That's the related context agent. If is OCP is common for everybody, but it can be an exchange type for a particular project and it shows o

[2016-12-15 11:51] bhaugen commented on #130
Probly, I'm on 49 something, and will need to upgrade ubuntu to upgrade chrome, and am not motivated yet. So I'll stop worrying about it and use firefox.

[2016-12-15 12:01] bum2 commented on #197
If @bhaugen can fix this issue will be wonderful... (tell me if you can't).
Another related thing pending to solve is: When we the devs copy the db in testocp to our local environments, and we also run our own electrum-fair local wallets, then the fairaddresses recorded in the db are not addresses of our local wallet (they're addresses of the testocp wallet)... I think is good at least to add a ch

[2016-12-15 12:12] bhaugen commented on #197
I can, maybe over the weekend.

But will not deal with the dev environment wallet problem, which I do understand and experience. Maybe add another github issue for that one?

[2016-12-15 13:48] bum2 commented on #189
Ok, I've tested the project-relations branch... it's marvelous! i like a lot the easy approach to change member relations... If we let this small modal like it is, the button can go to the right side of the "x has these associates:" section and be renamed perhaps as 'Edit project Associates'... that's the 'inward relations'.
Then the other modal for 'outward relations', coming from a 'Edit project

[2016-12-15 13:56] bhaugen opened #199 "How to test faircoin functions locally"
Spinning off [this comment](https://github.com/FreedomCoop/valuenetwork/issues/197#issuecomment-267311586) by @bum2

Setting up to test faircoin functions in a local dev environment is a problem. I'll look at this when I get my own dev environment set up to test this weekend, and post more observations and possibly ideas in this issue.

[2016-12-16 15:56] bhaugen opened #201 "Pay membership with work"
From telegram:

What will be necessary in OCP to implement this assembly agreement?

[2016-12-20 23:26] fosterlynn commented on #189
Membership associations working.

I never understood having a user agent for a group.   Let's discuss that a bit.  This is a perfect example of why you don't want that - the coordinator would have to log off and log on as the project, then reverse when done.

[2016-12-25 23:04] bhaugen commented on #199
Here's what I have found so far:
* @XaviP 's doc [/install_ocp_debian_apache_ssl](https://github.com/FreedomCoop/valuenetwork/blob/master/docs/install_ocp_debian_apache_ssl.rst) is very helpful. Especially the parts about copying the daemon sample files and setting up the daemon.
* This after doing all the stuff in [install.txt](https://github.com/FreedomCoop/valuenetwork/blob/master/docs/install.

[2016-12-26 12:47] bhaugen opened #202 "Error in validate_faircoin_address_for_worker"
Error message:
[code]
The problem is here:
[code]

Introduced by this commit:
https://github.com/FreedomCoop/valuenetwork/commit/cb53ad0896b7b5fe20858ca8a64b1f74616365a0

[2016-12-26 21:19] bum2 commented on #199
I think is not good to have the same wallet in two places (local and testocp) or if its possible at all.
We can try to run the local envs using the online testocp wallet, but also not seems a good solution.
I have the same issue about testocp fair addresses into local env (not matching local wallet), and the solution I think is best is to do a script or a update function that changes all the fair

[2016-12-26 21:41] bhaugen commented on #199
I'll start by changing enough fair addresses in my local db by copy-pasta, just enough for what I want to test, at first. Might try a script. But I am a bit confused on some of the addresses in my local wallet. They don't make sense to me. Don't know how they got created. So I might just watch some new addresses get created for awhile and see if I can understand better. That would be, before I do

[2016-12-27 10:51] bhaugen commented on #202
@bum2 I looked through the whole logic of sending faircoins from the work/manage-faircoin-account/ page. Mostly looked ok, but I couldn't test it all the way through yet.
I did see one possible hole: in valueaccounting.models.related_all_contexts_queryset you are not filtering out agents with no faircoin address.
And one possible improvement, as we discussed, to trim leading and trailing blanks, b

[2016-12-27 14:18] bum2 commented on #202
You are true about the possible hole, it just returns nothing (no sending, no error) when that happens. Now i've added more filtering to not even show the related agents without fairaddress, and also added the strip method in that two places...

The super weird thing that is puzzling my mind is: I was doing test faircoin sendings from Bumbum user at prod ocp, and when sending fairs from Catalonia

[2016-12-27 22:51] bum2 commented on #202
I've added a check to see if a fairaddress has been assigned to a EconomicResource before assigning to another resource or user. The new address creation will now fail and a critical message is logged in the logger. Its at https://github.com/FreedomCoop/valuenetwork/commit/1f777ca751046f18ad58a4ae41b702e4eeac81be
The fix is difficult to test and so now in prod-ocp, hopfully preventing this weird c

[2016-12-27 22:54] bhaugen commented on #202
Thanks for diggin into this stuff, @bum2 !

[2016-12-27 22:58] bum2 commented on #195
i think is solved now with the https://github.com/FreedomCoop/valuenetwork/commit/c86b123148dae60e6ec8aef20c6fd000f8b4e37e and previous commits... it shows the confirmed and unconfirmed balances and limits to the lowest... please test it to be sure and we can close the issue.

[2016-12-27 23:10] bum2 opened #203 "Track external receivements of faircoins as events"
In the account history page you should see all the transactions happened to this address. When filling-up the ocp fair address with external fairs it's needed also a event to track that, and the From field will not be an agent name but a external fairaddress. Now the balance is not correlated to the list of events because is missing the incoming external ones.

[2016-12-27 23:21] bum2 opened #204 "No images showing from site_media"
The uploaded photos on profiles or projects are not showing up in prod-ocp (but shows in testocp).
The configuration in local_settings.py and the folder permissions seem ok... I have also added more directory permissions for the 'site_media' folder at the apache2.conf file but still not resolved.

I'm not sure what's really the problem, but is a very important bug to solve asap... perhaps @XaviP c

[2016-12-28 10:41] bum2 commented on #194
I saw the address of Pílikum is 'ERROR'... i've deleted the resource (and agent-resource-role record) in prod-ocp and request a new address... now she has a valid fairaddress.
Hopfully it don't happen again: I've added a check for this error string in def create_address_for_agent at valueaccounting/process_faircoin_requests.py and now returns None...

[2016-12-29 21:51] fosterlynn commented on #189
I would like to take myself off the second part of this issue.  The first can be tested, merged and deployed whenever you like.

[2016-12-30 13:49] bhaugen opened #205 "Add confirmation for Faircoin transactions"
From telegram:

[2016-12-31 14:44] bum2 commented on #202
Reopen if happens again...

[2016-12-31 14:44] #202 closed

[2016-12-31 16:04] bum2 commented on #184
Ok! I've pushed more developments in the project-planning branch and is again deployed in testocp for all you to test and give feedback.

The Exchanges page is working (maybe not with old types) but also I've added a Resouces page for projects (work-in-progress, it filters but still not adds resouces or resource types)...
As soon as i can finish the 'add new type' form and a way to manage the tree

[2016-12-31 16:10] bum2 commented on #198
Seems done. Reopen if needed...

[2016-12-31 16:10] #198 closed

[2016-12-31 17:30] fosterlynn commented on #130
This is what an exchanges page looks like on my computer, in testocp.  Ubuntu, Firefox.

![exchanges-page](https://cloud.githubusercontent.com/assets/3776081/21578594/42c7137a-cf4c-11e6-80e0-81ce2bea14e9.png)

[2016-12-31 17:33] fosterlynn commented on #130
I repeat feedback I gave earlier.  The exchange type dropdown is very confusing since it includes all kinds of detail for each exchange type.  If people just saw the simple list. it becomes very intuitive to pick, especially if they are named well.  There is no reason to see all that detail, since picking at that level is meaningless.

[2016-12-31 18:03] fosterlynn commented on #130
I deleted my previous comment about proliferating detail, I see that this is more how you have structured the exchange types, will study more carefully.

[2016-12-31 18:36] fosterlynn commented on #130
Blew up creating a transfer.  Conditions: Picked Exchange Material for Material exchange type.  Creating transfer on top section.  Filled out for creating a new resource.  The formset on the bottom of the new resource is what is missing.

There may be some other things to think about, as part of making this work for many agents trading within the same installation.  A resource that is transferred

[2016-12-31 18:55] fosterlynn commented on #130
Something to think about: If 2 collectives within Freedom Coop are exchanging with each other, shouldn't that just be one exchange?  So one collective's purchase is another collective's sale, just for an example.  But from the independent view, it is just one exchange - a trade, not a purchase or a sale.  And I would think that the 2 collectives would like to reference just the one exchange too.

[2016-12-31 19:00] fosterlynn commented on #130
Noticing the Incoming Total and Outgoing Total on the exchange list page don't seem to be meaningful.  They are using quantity, which won't ever add up.  They could use value, but I wonder if that is useful, or not.  I'm guessing not that useful, but I don't know

The original purpose was to double check the entry, validate from an accounting perspective, and it was in the condition of one side of

[2016-12-31 19:10] fosterlynn commented on #130
I created a new exchange type just for my LynnTest project.  It doesn't show up in the list for me to pick it in the work app, to create a new exchange.

[2016-12-31 19:27] fosterlynn commented on #130
In creating a new transfer in a new exchange, the resource type dropdown includes that whole new taxonomy of generally applicable resource types.

I see how you made this work, in mapping your taxonomy to the facet values.  You did some careful study @bum2 !  :)

I think we need some discussion with the admins and coordinators of some collectives to see what will make sense to people.  To me, I di

[2016-12-31 19:49] fosterlynn commented on #130
A note about the New Resource button on the Resources page - in general, OCP is designed so that resources enter the system as a result of an event - they are created in a process, donated, traded, etc.  This is part of the accountability / accounting part, so people can trace the history of all resources.

Occasionally people do need a way to just correct the computer system, like if you take inv

[2017-01-01 20:09] fosterlynn commented on #130
Error on creating exchange:  Difference from yesterday (when it worked) was I picked a different exchange type to create: Sell non-material resources.  Blew up saving the exchange on the left side of the exchange page.

DoesNotExist at /work/agent/39/exchange-logging-work/0/96/

EconomicResourceType matching query does not exist.

Request Method: 	GET
Request URL: 	https://testocp.freedomcoop.eu/w

[2017-01-01 21:22] bhaugen commented on #130
@fosterlynn wrote upthread:

I had the same problem. I created this exchange type:
https://testocp.freedomcoop.eu/accounting/change-exchange-type/20/

For this context agent:
https://testocp.freedomcoop.eu/work/agent/96/
for which I am the coordinator.

When I go to create an exchange:
https://testocp.freedomcoop.eu/work/agent/96/exchanges/
I don't see my exchange type in the selection list.

Actu

[2017-01-02 19:54] bum2 commented on #130
For one side, there's lot of config work pending, and connect exchange types with the tree options... now only the ones with `>` are connected and should work...
The idea here was to have common exchange types for all projects or users. The idea of custom exchange types for every project is not developed at all (when we need them we can do it).
Don't know how you've created new exchange types from

[2017-01-02 21:27] bhaugen commented on #130
The idea of custom exchange types is that many projects will trade only a small number of items, so to present long selection lists wastes time and is confusing.

Did it from the other side.

By the way, I don't know if anybody has explained this clearly to you yet, but the whole reason the faceted classification setup was to filter selection lists so people would only see those that were useful i

[2017-01-02 23:45] bum2 commented on #130
is just not finished the branch yet... also the trees are not yet introduced nowhere in master...

the filtering by context is working in the exchanges! that was one of the first thing i did in the exchanges page...

please let me time to develop and time to explain before judging... the whole types trees will not be for every user, only parts of them (if they are related a branch) or their custom

[2017-01-03 00:17] bum2 commented on #130
All what i'm adding is to not touch the internal ocp structure... some bits are inevitable, but trying to keep at minimum the internal structure changes...
The intention is to simplify everything, but in many places is needed to choose a resource type, and they can be filtered by the facetvalues like always (even with the trees)... see a purchase or a sell with money facet, it shows only money rel

[2017-01-03 01:20] bum2 commented on #156
About the skills, I think it can be good to link them to the General job verbs tree, in a similar way like i did with other resource types. A interface model is proposed 'Ocp_Skill_Type' (first version in project-planning branch) that links facetvalues and resource 'types of work' with the general.job tree... When we create new skills in ocp, also the common general tree is updated (like with mate

[2017-01-03 12:13] bhaugen commented on #156
The skills are now resource types. The skill suggestions become skill resource types. What am I missing in what you said?

[2017-01-03 13:40] bum2 commented on #184
About the creation of new exchanges, it can be avoided the need of creating custom exchange types for every project's context (and use a set of common kinds of exchange) as long as we have another way of setting the main exchanged resource type (or a whole branch in a tree), even custom, in order to have the resource-types pre filtered before setting the exchange transfers and commitments.

Now th

[2017-01-03 13:51] bhaugen commented on #184
I think you need to get some concrete use cases from some collectives and individuals about what they want to do with exchanges. What they want to trade for and with, etc. And then figure out what is the simplest way for them to do what they want to do.

[2017-01-03 15:06] bum2 commented on #156
Yes i know they are resource types. What i'm saying is a different concept or approach about skills: They are somehow different from other resource types and they don't have a special model in ocp, all the stuff about skills and resource types is mixed together in the same EconomicResource model.
The way I see the skills is a like a double key-index: a verb and an name (artwork type, 'resource' ty

[2017-01-03 15:14] bhaugen commented on #156
Several EconomicResourceTypes have very different behaviors. Money, space, tools, types of work, products for sale, services that require payment, all have different behaviors.

The benefit of keeping them all together in the same EconomicResource and EconomicResourceType models is that they can then form recipes, plans, and resource flow graphs, and allow for accounting, value equations (that is,

[2017-01-03 16:16] fosterlynn commented on #184
@bum2 to make sure I understand:  The exchange types can be global because the user would pick a resource type branch whenever they actually create an exchange?  Or perhaps for each transfer within the exchange?

[2017-01-03 16:23] fosterlynn commented on #184
I think this would definitely be simpler and more clear for the users, and I don't think it breaks anything.

[2017-01-03 18:42] bhaugen commented on #203
If you look at https://ocp.freedomcoop.eu/accounting/resource/4/ and click Follow Chain, you will see
https://chain.fair-coin.org/address/fShUWoHSg3SxtN3ezVTWfoqdLPejYgMgzD

Seems like we should be able to pick up that info on the fly and show it on https://ocp.freedomcoop.eu/accounting/event-history/4/

If it exists. I'm seeing a lot of faircoin addresses in OCP that do not appear on the chain, f

[2017-01-03 18:51] bhaugen commented on #203
I could see if I can do this one. @bum2 do you think this is the highest priority issue I could work on? Or do you think something else should come first?

And are you working on this one actively?

[2017-01-04 02:02] bum2 commented on #184
I was thinking on the first: one of the transfers of the selected exchange type will not be defined like the other transfers (in coop admin), because it will get the resource type subset from this new chooser i'm proposing in the Exchanges page, next to the exchange type chooser, in the create new exchange form box. The 'special transfer' inheriting the types preselected will be always the main tr

[2017-01-04 02:10] bum2 commented on #203
I'm not in this issue, please do it if you can... will be good to have in ocp the same operations shown in the chain when seeing the address, so the total is clear and checkable.

[2017-01-04 12:27] bhaugen commented on #184
Let's get some of them engaged in this discussion, and in the design and testing. Otherwise we have a circular design argument between you and me and Lynn. We will just back out of that sooner or later, because we are too far from the action. But if you design this out of your own mind, without early feedback, you could easily paint yourself into corners that it will be difficult to code your way

[2017-01-04 12:29] bhaugen commented on #203
I took it, and will see what I can do.

[2017-01-04 21:23] bhaugen commented on #184
@bum2 what dezentrale exchange use cases do you have in mind? When Lynn and I talked to Chris Zumbrunn, it seemed like they would have a very small number of very simple exchanges that could be easily handled by custom exchange types, like Rent Room. If I understand correctly, they had a small number of room rental options. The Exchange Type could be called Rent Room, and the selection list could

[2017-01-05 10:20] zumbrunn commented on #184
That is correct, and the intentions/requirements for this haven't changed, although during the last weeks, I've been trying to wrap my head around how mutual credit accounting at a larger scale, for our local needs beyond the Décentrale will connect with what bumbum has been working on.

Moving forward with the config and practical use of OCP for Decentrale in the way you described is VERY, VERY h

[2017-01-05 10:56] bhaugen commented on #184
@zumbrunn thanks for responding to the call. @bum2 is doing a lot of work to improve project configuration in OCP, and has a lot of ideas. It would be a great time for him to discuss them with actual projects and get some feedback.

[2017-01-07 18:15] bhaugen commented on #203
I'll start working on this tomorrow.

[2017-01-08 19:55] bhaugen commented on #203
@bum2 I'm working on this now, very slowly, to set up a test environment. One immediate question: do you know how to interpret faircoin transactions and address histories?  For example, how to interpret this?
https://chain.fair-coin.org/tx/edc2a43400b5e25331e5d8d12778563cd5c53d8fab99667443f5a25a2a4138ed#o1

Inputs
Index	Previous output	Amount	From address	ScriptSig
0	63526e40a8...:1	18.999	fPhpxGq

[2017-01-08 23:32] bum2 commented on #203
I'm not sure but i think inputs in are made of chunks of coins of same age (like a bank-note of certain amount), and outputs send the intended coins to the intended address AND the 'change' back to the sender's address... I don't know if that behavior is due the actual POS algorithm and will change with POC or not.

But what i mean in the issue is more about what appears in the chain's address pag

[2017-01-09 15:46] bhaugen commented on #203
I'm starting to make progress on this issue, but it won't be fast. Lots of learning to do...will make regular progress reports here, one coming later today.

[2017-01-09 16:26] bhaugen commented on #203
Progress report: I finally made contact with the wallet in the shell again, so I can look at the transactions in more detail.
[code]
But now I come to a show-stopper:
[code]

[2017-01-12 12:32] bhaugen commented on #203
Where I am at on this issue now:
* I got the transaction history of an address from electrum_fair_nrp as reported above.
* I am using an OCP database that I used for my initial tests of faircoin-ocp code, which corresponds to my local wallet.
* I have events in that OCP database that do not appear in the transaction history from electrum_fair_nrp, but they *do* appear in the chain, so they are val

[2017-01-16 12:38] bhaugen commented on #203
I'm trying to check out those event vs transaction anomalies in testocp, and ran into this problem:
[code]
@bum2 - got any insight into that error? I don't know how the OCP software was installed in testocp.

[2017-01-16 12:48] bhaugen commented on #203
Trying to check out the same problem in prod ocp, ran into a different problem. I can get into shell_plus ok, but when I do, I am connected to a different database than the one used in production. I suspect it is the old sqlite db, while production is using PostgreSql. So something is configured wrong for using the shell there.

[2017-01-19 15:09] bhaugen commented on #203
Ok, got some results on the transaction anomalies in prod ocp. Can anybody explain what is happening here? Am I misunderstanding something? Or is there something wrong here? I had planned to use the address_history_info to supply the transactions that were missing from the OCP event history, but if I can't trust the address_history, I need to rethink.

I found 21 economic events representing fairc

[2017-01-19 16:12] bhaugen opened #207 "Python oddities to be aware of in your django code"
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/django-users/d5xn4gSnw6Y/6lDhFdAVCAAJ

Read the whole thread for a problem that occurred in OCP, but the last message summarizes a bunch of info.

[2017-01-22 00:39] bum2 commented on #194
reopen if needed

[2017-01-22 00:39] #194 closed

[2017-01-22 18:35] bhaugen commented on #203
Progress report: I got maybe halfway to a solution this morning. Got a little more work to do before I write up some tentative conclusions with some code, for a code review. Maybe mid-week, definitely by end of week.

[2017-01-22 22:18] fosterlynn opened #208 "Faircoin sent through Betabank did not arrive in OCP"
Oscar reported this problem for GZimaxinaria collective in telegram:

I have an Issue with our fee for having a bank account

we sent 10€ to faircoin inside Betabank in December, but never arrived to our FC account in OCP

[2017-01-23 03:59] bum2 commented on #207
good tip master @bhaugen !! will keep in mind...

[2017-01-23 22:43] bum2 commented on #184
Of course @zumbrunn lets talk whenever you like, just ping me... here my last update text from tgr:

I want to propose a change in the ocp exchange interface, which intends to hide some layers of complexity to the users, and let admins make whatever config we need in the transfer-types as predefined sets (tree branches) as common exchanges types, with one of the transfer-types inheriting the resou

[2017-01-24 00:40] fosterlynn opened #209 "Mutual credit in OCP?"
@zumbrunn that is very interesting, I am just starting to see if I can work mutual credit into our ValueFlows model for both exchanges and production.  ([ValueFlows](https://github.com/valueflows/valueflows) is a project to create a standard vocabulary and protocol so economic software can interoperate to create economic ecosystems. It uses OCP data structures as a starting point, but we are tryin

[2017-01-24 00:42] fosterlynn commented on #184
@zumbrunn I started a new issue for this, pinging you here because I don't know how much you keep up with the github stuff..... https://github.com/FreedomCoop/valuenetwork/issues/209.

[2017-01-24 00:50] fosterlynn commented on #184
I have a question:

Do you think @bum2 that collectives using OCP will do a lot of trading with each other?  If so they will need to share exchange types (and exchanges).

@zumbrunn do you think Decentrale will do some trading with other collectives who are using OCP, and if so, in what time frame?

[2017-01-25 00:23] #208 closed

[2017-01-25 17:41] bhaugen commented on #203
Ok, I am stumped again. Event history for the  in prod ocp contains 42 transactions:
https://ocp.freedomcoop.eu/accounting/event-history/10/

The chain has 43, so the event history is close:
https://chain.fair-coin.org/address/fEayVWxszDVJDEercVmWxPdi4YGTCxe84L

But electrum_fair_nrp.address_history_info(address) only gives me 20.

I have been hoping that the address history would give me the tran

[2017-01-26 17:29] bhaugen commented on #203
Ok, figured that one out. Should have started to dig into the code in the first place.
[code]
20 is all it I would get without overriding items...

[2017-01-26 20:12] bhaugen commented on #181
Historical note: I added the blueprint to the invoice number page, but was told it could not go into the github repository, so I removed it again. And this issue has waited for more than two months for more definition and instructions.

[2017-01-26 22:04] enricduran commented on #181
Im not sure which kind of requirements are pendingm but will try. A pending point is if there is a need of blueprint to have inside OCP but we can not publish it on github, there is a way to do that?

Otherwise, there was a proposal of more than a blueprint, to provide a closed pdf with the invoice done after filling a form. This is pausible at dev level?

[2017-01-26 22:07] bhaugen commented on #181
I think so. Will try an experiment on testocp.

Do you mean, provide a form to fill out to create an invoice, and generate a pdf from that, where the pdf is only accessible by the person who filled out the form?

[2017-01-26 22:21] enricduran commented on #181
Yes I mean just what you said. Generate a pdf that is accesed by the person, together with the admins. And then he/she can download for sending to the client

[2017-01-26 22:28] bhaugen commented on #181
I think so, but I think it would be a lot more work than putting a blueprint file on the server but not in github. So I'll try that first, if that is ok.

[2017-01-26 22:30] enricduran commented on #181
I can confirm that tomorrow after discussing with other people sensible about it

[2017-01-26 22:32] bhaugen commented on #181
I'll repeat my edit in the comment above, because the edits don't cause another notification: maybe we should ask @bum2 what he thinks about that, because he was the one who objected to the earlier blueprint file, and Mario thought it might have been more than just that it was on github. He might have objected to something about the whole idea of a blueprint file.

[2017-01-26 23:12] bum2 commented on #184
Not really at the beginning, but I see that 'exchanges' are an easy entry point to OCP, where you can start placing the initial project resources and tools (perhaps as donations from members) and start tracking external exchanges like renting spaces (dezentrale), currency exchanges (local node offices), paying of fees (selfemployed), etc.
Of course they need to share resource types, but you said t

[2017-01-26 23:47] bum2 commented on #181
We have already the invoice numbering in prod, that's enough now, but i'm not sure if Mario has been using them or not. To have a blueprint in the repo makes no sense for basic security reasons (everybody can make an invoice and send to someone else with our real data!)... the only way i see is the pdf generation with invoice data gathered in a form, as you said. That means we are really doing the

[2017-01-27 11:10] bhaugen commented on #204
Examole: this shows up fine in testocp:
https://testocp.freedomcoop.eu/site_media/media/photos/what_is_it.JPG.128x128_q85.jpg

This one in ocp is a 404:
https://ocp.freedomcoop.eu/site_media/media/photos/what_is_it.JPG.128x128_q85.jpg

[2017-01-27 11:27] bhaugen commented on #181
That would be a big advantage of that approach. Wouldn't be difficult. Would require a new model and modelform, which is not a big deal, but somebody (other than me) would need to figure out which fields should be on the form.

Also, which app should it go into? I assume the work app.

Re the faircoin questions: I am still very slowly making progress on this issue: https://github.com/FreedomCoop/v

[2017-01-27 11:29] bhaugen commented on #181
P.S. the difficult part of form-to-pdf for me is generating the pdf, which I have never done before. But I know it is doable:
https://docs.djangoproject.com/en/1.8/howto/outputting-pdf/

[2017-01-27 13:28] XaviP commented on #204
Hi, solved by adding this to virtual host conf:
[code]
What I don't understand is how is working in testocp :-)

[2017-01-27 13:49] bhaugen commented on #204
Do you remember doing that django collectstatic command on either server?

[2017-01-27 13:57] XaviP commented on #204
Not doing django collectstatic since first installation. Manually copying any static file in static dir when a git clone includes any static file. But now I don't know who is doing it, or what is doing.

[2017-01-28 10:43] bhaugen commented on #203
I deleted a few comments about transactions in the wallet that seemed to be missing, because they were all a result of my mistake in calling address_history_info without expanding the items parameter beyond the default 20.

[2017-01-30 23:04] bum2 commented on #204
Thanks a lot brother @XaviP ! ... yes I'm doing the manual copy of static files on every deployment...

[2017-01-30 23:05] #204 closed

[2017-01-30 23:29] bum2 commented on #181
I've done many times automatic pdf's on the fly, but never in phyton... Must not be much hard. The information can not come from any file, not in repo, not in server. It just needs some data from the database. For this and many other things is needed from day one a system to store and retrieve strings from the db, the old issue still open... something like the help system will suffice (but hopeful

[2017-01-30 23:39] bhaugen commented on #181
We got two issues here:

1. The design of the model and form for the freedom coop member to enter for the invoice. What is the structure? What are the fields? I think all that information would saved in the database, but you could explain what should not be saved of the info the member enters.
2. The information that is sensitive and must be kept secure, and how we handle it to keep it secure. I a

[2017-01-31 01:14] bum2 commented on #181
1- We'll try to figure-out the needed fields for the user in the next days... usually item lines for the invoice, customer data, etc. Yes all this will go in the db.
2- Sensitive information is not only users data but also our legal data. It can be only in the db also. I was proposing to put them on a table dedicated to such internal strings we need in some places. It can be similar to the help sy

[2017-01-31 01:23] bhaugen commented on #181
If I remember correctly, the legal data is maybe two strings, that could be in two fields, in some new model.

Do you think the db string translation needs to be part of this issue? Or not? If it is, it will be a long time before all this stuff is done. (This has happened before in OCP: loading a pile of somewhat-desired work onto an issue that could be limited a lot more and be done sooner.)

[2017-01-31 01:39] bum2 commented on #181
Not needed the db translations for this release, but for the next one, so will be good to do the things with that in mind. We need a model for invoices, and that is a big one i can work on next release. But we also need a model for the internal strings, not only the few we need in the invoices but all the rest of strings pending to add in many places, explaining the tools, messages of emails, menu

[2017-02-01 18:37] bum2 opened #210 "Faircoins not showing up in balance at prod!"
This is from few days ago, because it was working good: When you send fairs from an external wallet to an ocp account, the balance don't show them, even if they are totally confirmed in the chain.

there are some 'critical' traces at `faircoins.log` (not shown for privacy) and also at `emit_notices.log` every minute is this:

so a missing "lock" object (NoneType) is trying to 'release' ...

The cr

[2017-02-02 12:02] XaviP commented on #210
There are crontabs in user _ocp_ and in user _root_ too. In prodocp everything is ready to start the daemon when the system is rebooted, not in testocp.

[2017-02-02 13:28] bhaugen commented on #210
I checked in shell_plus in prod ocp.

The balance you see in OCP is the same as I get from ```faircoin_nrp.electrum_fair_nrp.get_address_balance(address)```.

And it is different from the balance on the chain for the same address.

This seems to be the code that does it, in electrum-fair.lib.wallet.py:
[code]

[2017-02-02 16:27] bhaugen commented on #210
Since it looks like Santi fixed the balance problem, is this issue ready to be closed?

[2017-02-02 18:58] fosterlynn commented on #184
Testing: Added an exchange using existing exchange type Donating Non-Material Resources.  The exchange was created.  I added a transfer, which was not created, no error message.

[2017-02-02 19:02] fosterlynn commented on #184
Question:  Is there any provision for having more than one transfer or more than one reciprocal transfer in an exchange type?  We have seen this done.

[2017-02-02 23:14] #210 closed

[2017-02-02 23:31] bum2 commented on #184
I think is good to have more transfers in some exchange types: for example in monetary economies you usually get a ticket or a bill, or in a design work there's a initial proposal+budget document to client, client payments to worker, and for selfemployed there are invoices or bills around... so i think most of the other transfers (apart from the one with the 'main' resource type) will be 'document

[2017-02-03 14:04] bhaugen commented on #184
Strictly speaking, from an accounting point of view, invoices or bills are not transfers. They are just documents representing claims for payment.

[2017-02-03 14:21] fosterlynn commented on #184
One example in Sensorica of 2 transfers is for purchases, where they separate the receipt of the things that were purchased from the shipping, which is a different transfer type.  Then there is also a reciprocal transfer type for the payment for both things purchased and shipping. So 3 transfer types in one exchange type.

[2017-02-03 20:23] fosterlynn commented on #130
I tried the Resources page New Resource Type button.  It didn't save my resource type (don't see it in django admin).  I was trying to see if I could create one within my context (LynnTest).

[2017-02-03 22:59] bum2 commented on #184
I know they not transfer value, but a paper or a doc is exchanged between agents, and can be related other doers or other days, etc. I thought was good to track as a separate transfer each movement, but you are the ones that know really if makes sense or not.

The sequenced example i was thinking, related docs, was when doing a design job (sell non-material): you transfer a proposal to client, the

[2017-02-03 23:06] fosterlynn commented on #184
Yes, I think we should separate out all the documents and paperwork that surround economic activity.  We can create all of that from commitments and events.  Proposals, invoices, purchase orders, etc. are just reports of what is going on.

I just wasn't sure from running in testocp that we could now support more than one transfer type and one reciprocal transfer type for an exchange type.  It soun

[2017-02-06 12:59] fosterlynn opened #211 "Contributions report goes to admin"
In the work app, on the Your Projects page, if you select Contributions next to the project, it takes you to the contributions report in the admin app.  (I can't remember if we made a new contributions report for the work app.)

[2017-02-06 16:02] bhaugen opened #212 "Add description to faircoin transactions in OCP"
Faircoin transactions in OCP are EconomicEvents, which already has a description field. The easiest way to do this is to put that description field in the user interface where needed, which I think would be on the form to create a transaction, and on the faircoin address event history.

[2017-02-06 16:08] bhaugen commented on #212
Also, make it possible to edit the descriptions in older transactions.

[2017-02-06 16:22] bum2 commented on #212
thanks @bhaugen ! if you can take the issue (to do in master branch), marvelous, but if you can't take it, tell me and I will do it asap...

[2017-02-06 16:33] bhaugen commented on #212
I won't be able to get to it until Wednesday earliest. I think could be finished by weekend. If you can do it faster, take it. Otherwise I'll assign it to myself on Wednesday.

[2017-02-06 16:56] bum2 commented on #212
ok thanks again! i'll give it a try and see what happens...

[2017-02-09 18:01] bum2 commented on #212
done, and seems like working in prod... now we have the jeditable jquery to make inline editions where we need...

[2017-02-09 18:01] #212 closed

[2017-02-12 23:18] bum2 commented on #184
yes Lynn, we can make exchange types with many transfer types if needed...

I'm going to report a bit what we have now in the Exchanges page (and what is missing) in the project-planning release:
The exchange process is explained in two sentences:

and if you unfold, then:

This interface creates a new Exchange Type on the fly when creating an Exchange, if the resource types are narrowed for that

[2017-02-13 00:02] fosterlynn commented on #184
:+1:

@bum2 The main problem I have with this is that we still don't have what I understand the minimum requirement to be, which is the ability for a project or collective (or the nodes) to create exchange types only for themselves and not bother anyone else.  Since you have some sort of inheritance implemented for exchange types, why not take it all the way down and give people the option.  Then

[2017-02-16 12:16] bhaugen opened #213 "How FairCoins work in OCP"
This is what I know. Thomas, Santi, and Xavi know more, and may want to suggest or just make improvements to this writeup. If this gets good, we should move it to a wiki page or something else more document-like.
Note: some of this will not make much sense to you if you do not understand the OCP models. You can read about them here: https://github.com/FreedomCoop/valuenetwork/wiki/Core

# FairCoin

[2017-02-17 12:56] bhaugen commented on #213
From Thomas in Telegram:

electrum_fair
 to
electrumfair

[2017-02-22 21:00] XaviP opened #214 "Upgrading from django 1.8 to 1.11"
- Official django release notes: [1.9](https://docs.djangoproject.com/en/1.9/releases/1.9/), [1.10](https://docs.djangoproject.com/en/1.10/releases/1.10/), [1.11](https://docs.djangoproject.com/en/1.11/releases/1.11/)
- We need to write an open workflow for other forks (or think how to share the update, merge possible?)

[2017-02-22 21:53] bhaugen commented on #214
People (including you) are talking about refactoring and modularization so that we can all share all the modules we want to use, which could mean no or very few forks. Don't know where that would fit in the roadmap and priorities, but that would take us all into the future in a much better spaceship.